
/* ____________________________________ BODY */
  $body-text-color-align :         null;
  $text-margin-bottom :            $base-offset;
  $paragraph-margin-bottom :       $text-margin-bottom;

  $quotation :                     oblique;
  $citation :                      italic;
  $link :                          underline;

$font-size-root   : null;
$font-size-base   : 1.05rem;

$font-weight-base : $font-weight-normal;

$line-height-body : $line-height-base;

$heading-base-unit: 1.25vh;
