$lead-font                  : "Pompiere";
$lead-font-size             : $base-unit * $lg;
$lead-font-weight           : 300;
$lead-text-color            : shift-color($post-title-color, $muted-percentage);
