// scss-docs-start type-variables
$small-font-size            : sm;

$sub-sup-font-size          : xs;

$initialism-font-size       : sm;

$mark-padding               : 0.2rem;
$mark-bg                    : $gray-300;

$dt-font-weight             : $font-weight-bold;

$list-inline-padding        : 0.5rem;


// scss-docs-end type-variables
