@mixin title-shadow {
    text-shadow: $shadow-title;
}

@mixin site-title-shadow {
    text-shadow: inset 6.31px -6.31px 10px $secondary-color, inset -6.31px 6.31px 10px $accent-color-gradient;
    @include text-stroke($black, $secondary-color);
}

@mixin title-shadow-inset {
    @include text-stroke($black, $accent-color);
    background-blend-mode: color-burn;
    color: transparent;
    text-shadow:
        inset 2.75px 9.25px 1.5px rgba($white-rgb, 0.85),
         inset -3.25px 3.5px -3px rgba($secondary-color-rgb, 0.95),
        inset -2.5px  13px -2.75px rgba($white, 0.35),
        inset 12px -6.75px 6.25px $primary-color;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}
