// Code
$code-font-size               : $font-size-sm;
$code-color                   : $pink;
$code-bg                      : $black;

$kbd-padding-y                : 0.2rem;
$kbd-padding-x                : 0.4rem;
$kbd-font-size                : $code-font;
$kbd-color                    : $white;
$kbd-bg                       : $gray-900;

$pre-color                    : null;
$pre-scrollable-max-height    : 340px;
