.span1 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 16))*100%;
  flex-basis: 6.25%;
}

.span2 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 2))*100%;
  flex-basis: 12.5%;
}

.span3 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 3))*100%;
  flex-basis: 18.75%;
}
.span4 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 4))*100%;
  flex-basis: 25%;
}

.span5 {
  flex: 0 0;

  width: calc(1 / divide($grid-columns, 5))*100%;
  flex-basis: 31.25%;
}

.span6 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 6))*100%;
  flex-basis: 37.5%;
}
.span7 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 7))*100%;
  flex-basis: 43.75%;
}

.span8 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 8))*100%;
  flex-basis: 50%;
}

.span9 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 9))*100%;
  flex-basis: 56.25%;
}
.span10 {
  flex: 0 0;

  width: calc(1 / divide($grid-columns, 10))*100%;
  flex-basis: 62.5%;
}

.span11 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 11))*100%;
  flex-basis: 68.75%;
}

.span12 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 12))*100%;
  flex-basis: 75%;
}

.span13 {
  flex: 0 0;
  width: calc(1 / divide($grid-columns, 13))*100%;
  flex-basis: 81.25%;
}

.span14 {
  flex: 0 0 auto;
  width: calc(1 / divide($grid-columns, 14))*100%;
  flex-basis: 87.5%;
}

.span15 {
  flex: 0 0 auto;
  width: calc(1 / divide($grid-columns, 15))*100%;
  flex-basis: 93.75%;
}
.span16 {
  flex: 0 0 auto;
  width: calc(1 / divide($grid-columns, 16))*100%;
  flex-basis: 100%;
}
