$shadow-color            : darken($primary-color, $shadow-percentage);
$shadow-text             : darken($body-text-color, $active-percentage);
$shadow-title            : darken($accent-color, $focus-percentage);

$shadow-button           : shade-color($primary-color, $button-percentage);
$shadow-hover            : tint-color($primary-color, $hover-percentage);
$shadow-focus            : shift-color($primary-color, $focus-percentage);
$shadow-inset-a          : shade-color($primary-color, $inset-percentage);
$shadow-inset-b          : tint-color($primary-color, $inset-percentage);

@import "shadow/box-shadow";
@import "shadow/card-shadow";
@import "shadow/masthead-shadow";
@import "shadow/input-shadow";
@import "shadow/button-shadow";
