/* COLORpalette _________________________________________________________

Theme/Brand Name             : CJMT
Author                       : CJMT

Stylesheet                   : CJMT Brand Stylesheet

  = TOC =
  [] Color Palette
    (1) Color Variables
    (2) Brand Colors
    (3) Utilities Colors
  [] Properties
  [] Utilities

_________________________________________________________ colorPALETTE */

/* _______________________________________ GRAY SCALE */
    /* scss-docs-start gray-color-variables */
    $white                       : #e4edf4;
    $gray-100                    : #c0c0c0;
    $gray-200                    : #9a9a9a;
    $gray-300                    : #7b7b7b;
    $gray-400                    : #626262;
    $gray-500                    : #4e4e4e;
    $gray-600                    : #3e3e3e;
    $gray-700                    : #323232;
    $gray-800                    : #282828;
    $gray-900                    : #1a1a1a;
    $black                       : #000100;
    /* scss-docs-end gray-color-variables */

/* _______________________________________ CORE COLOR */
    $blue                        : #0a0fba;
    $indigo                      : #6600ff;
    $purple                      : #510bda;
    $pink                        : #fc89ac;
    $red                         : #ba0a0f;
    $orange                      : #fd8535;
    $yellow                      : #ffe41e;
    $green                       : #82ded1;
    $teal                        : #b5ede4;
    $cyan                        : #0abab5;
    $gray                        : $gray-600;

    $dark                        : $gray-900;
    $light                       : $gray-100;

/* _______________________________________ CUSTOM COLOR */
    $silver                      : #a8a9ad;

    $light-cyan                  : #cdffff; /* Light Green */
    $neon-blue                   : #555aff; /* light blue */
    $salomie                     : #ffd080; /* light orange */
    $wild-watermelon             : #ff555a; /* light red */
    $hot-pink                    : #ff6fa9;

    $chocolate                   : #623412;
    $camel                       : #c19a6b;
    $saltpan                     : #ffffcc;
    $white-chocolate             : #ede6d6;
    $dark-vanilla                : #d1bea8;
    $ghost-white                 : #fbfbfd;

/* _______________________________________ THEME COLOR */

    $primary-color          : #0abab5;
    $secondary-color        : #ffe41e;
    $accent-color           : #a8a9ad;

    $valid-color            : $light-cyan;
    $info-color             : $neon-blue;
    $alert-color            : $salomie;
    $invalid-color          : $wild-watermelon;
    $attention-color        : $hot-pink;


@import "color/theme-color";

/* ___________________________________________________ UTILITY */
        $active-color                : $secondary-color;
        $disabled-color              : color-mix(srgb, $accent-color $disabled-percentage, $white);

        $muted-color      : shade-color( $accent-color, $muted-percentage );
        $hover-color      : shade-color( $active-color, $hover-percentage );
        $focus-color      : shade-color( $active-color, $focus-percentage );
        $border-color     : shade-color($primary-color, $border-percentage);

        $body-text-color  : shade-color($primary-color, $active-percentage);
        $text-muted-color : color-mix(srgb, $body-text-color $muted-percentage, $muted-color);

        $body-bg-color    : tint-color($secondary-color, $background-percentage);
        $page-bg-color    : tint-color($primary-color, $background-percentage);
        $main-bg-color    : tint-color($accent-color, $background-percentage);

        $caption:           rgb(62,62,62);
        $caption-border:    rgb(26,26,26);
        $light:             $gray-100;
        $dark:              $gray-900;
        $input-text-color            : $gray-500;
        $input-bg-color              : $gray-100;
        $input-border-color          : $gray-900;
        $input-text-focus-color      : $gray-800;
        $input-bg-focus-color        : $white;
        $input-border-focus-color    : $gray-100;




/* ___________________________________________________ BUTTONS + FORMS */
    $input-text-color       : shade-color($primary-color, $text-percentage);
    $input-bg-color         : tint-color($primary-color, $background-percentage);
    $input-border-color     : shade-color($primary-color, $border-percentage);

    $input-text-focus-color : shade-color($input-text-color, $focus-percentage);
    $input-bg-focus-color   : tint-color($input-bg-color, $focus-percentage);
    $input-border-focus-color : shade-color($input-border-color, $focus-percentage);

    $input-group-bg-color   : $gray-200;
    $form-switch-text-color : $input-bg-color;

    $form-switch-text-color : $input-bg-color;

/* ___________________________________________________ LINK */
    $nav-link-transition         : color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;

    /* Link */
    $link-text-color                 : $active-color;
    $hover-color                     : shift-color($link-text-color, $hover-percentage);

    $link-focus-color               : tint-color($link-text-color, $focus-percentage);

    $visited-color              : shade-color($link-text-color, $visited-percentage);
    $visited-hover-color        : shade-color($link-text-color, $visited-percentage);

    /* Nav */
    $nav-text-color                  : $active-color;
    $nav-text-hover                  : darken($nav-text-color, $hover-percentage);
    $nav-disabled-color              : shade-color($nav-text-color, $disabled-percentage);

    /* Tabs */
    $tabs-hover-border               : shade-color($border-color, $hover-percentage);

    /* Navbar */
    $navbar-dark-text                : $accent-color;
    $navbar-dark-hover               : shift-color($navbar-dark-text, $hover-percentage);
    $navbar-dark-disabled-text       : color-mix(srgb $navbar-dark-text $disabled-percentage, $disabled-color);
    $navbar-dark-toggler-border      :     $navbar-dark-text;

    $navbar-light-text               : $primary-color;
    $navbar-light-hover              : shift-color($navbar-light-text, $hover-percentage);
    $navbar-light-disabled-text      : color-mix(srgb $navbar-light-text $disabled-percentage, $disabled-color);
    $navbar-light-toggler-border     :     $navbar-dark-text;

    @import "color/rgb";
    @import "color/maps";
