/* Text Alignments –––––––––––––––––––––––––––––––––––––––––––––––––– */

.text-left,
.align-text-left {
  text-align: left;
}

.text-right,
.align-text-right {
  text-align: right;
}

.text-center,
.align-text-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.hidden-sm {
  display: none;
}
