header {
  margin: 0;
  z-index: $z-index-header;
  width: 2vw;

  padding-top: 1.75vh;
	padding-bottom: 1.75vh;
  @include gradient-chocolate;
  @include elevation(5);

	hgroup {
		margin-left: -2vw;
    padding: 0;

  	h1 {
  		font-family: "Euphorigenic";
	   	text-transform: capitalize;
	   	font-variant: small-caps;
	   	font-size: 5.5vw;
	   	color: transparent;
	   	text-align: right;
	  }
	}
}
