/* CHANGEpercentage _________________________________________________________
_________________________________________________________ CHANGEpercentage */

$active-percentage           : 30%;
$disabled-percentage         : 40%;

$text-percentage             : 10%;
$background-percentage       : 15%;
$border-percentage           : 25%;
$hover-percentage            : 20%;

$inset-percentage           : 10%;
$button-percentage           : 30%;
$shadow-percentage           : 35%;
$thumbnail-percentage        : 15%;
$muted-percentage            : 20%;
$focus-percentage            : 35%;
$title-percentage            : 30%;

$link-percentage             : 10%;
$link-hover-percentage       : 15%;
$visited-percentage          : 40%;

$btn-disabled-opacity        : .45;
$input-btn-focus-opacity     : .25;
$input-btn-focus-blur        : 10%;

$btn-hover-bg-percentage     : 20%;
$btn-hover-border-percentage : 40%;
$btn-bg-percentage           : 50%;
$btn-border-percentage       : 65%;


/* ________________________________________________________ CHANGEpercentage */
