/* BOX SHADOW */
$box-shadow: 1.75rem 1.5rem 1.75rem $shadow-color;
$box-shadow-sm: 1.25rem 1rem 1.25rem rgba($shadow, .5);
$box-shadow-lg: 2.25rem 2rem 2.25rem rgba($shadow, .75);
$box-shadow-hover: .25rem .50rem .75rem $shadow-hover;
$box-shadow-focus: -.25rem .50rem .75rem $shadow-focus, -.25rem -.50rem .75rem tint-color(rgba(50,50,50), 25%);

$box-shadow-inset: inset -.25rem -.25rem -.50rem 0px rgb($shadow-inset-a, .7) 25%, inset .25rem .25rem .50rem 0px rgb($shadow-inset-b, .35) 25%;

$text-shadow: .75rem .25rem .10rem $shadow-text;
$title-shadow: .65rem .5rem .15rem $shadow-title;

$card-box-shadow: 1.5rem 1.25rem 1.25rem $shadow-color;
$card-box-shadow-inset: $shadow-inset-a -.25rem -.25rem -.50rem 0px inset, $shadow-inset-b .25rem .25rem .50rem 0px inset;

$input-box-shadow: 0 0 $input-btn-focus-blur $border-width-focus $input-text-focus-color;

$button-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($shadow-button, .075);
$btn-shadow-focus: inset 0 -1px 0 rgba($white, .15), 0 -1px 1px rgba($shadow-button, .075);
