[submodule "src/js"]
	path = src/js
	url = https://github.com/figmentdragon/ca-js.git

[submodule "src/scss"]
	path = src/scss
	url = https://github.com/figmentdragon/ca-scss.git
[submodule "docs"]
	path = docs
	url = https://github.com/figmentdragon/ca-documentation.git
[submodule "page-templates"]
	path = page-templates
	url = https://github.com/figmentdragon/ca-layouts.git
