/* Error: Expected expression.
 *   ,
 * 5 |         top:;
 *   |             ^
 *   '
 *   theme/themesheets/pages/global/_main.scss 5:13  @import
 *   theme/_global.scss 2:9                          @import
 *   theme/architecture.scss 46:11                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected expression.\a   \2577 \a 5 \2502          top:;\a   \2502              ^\a   \2575 \a   theme/themesheets/pages/global/_main.scss 5:13  @import\a   theme/_global.scss 2:9                          @import\a   theme/architecture.scss 46:11                   root stylesheet";
}
