/* Error: expected ";".
 *    ,
 * 83 |   $tabs-bg-color      : $gradient-tabs-bg : linear-gradient(320deg, transparent, rgba($white, .10) 20%, rgba($accent-color, .20) 35%, rgba($accent-color, .30) 50%, rgba($accent-color, .40) 65%);
 *    |                                           ^
 *    '
 *   theme/themesheets/color-palette/_color-palette.scss 83:43  @import
 *   theme/architecture.scss 27:11                              root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 83 \2502    $tabs-bg-color      : $gradient-tabs-bg : linear-gradient(320deg, transparent, rgba($white, .10) 20%, rgba($accent-color, .20) 35%, rgba($accent-color, .30) 50%, rgba($accent-color, .40) 65%);\a    \2502                                            ^\a    \2575 \a   theme/themesheets/color-palette/_color-palette.scss 83:43  @import\a   theme/architecture.scss 27:11                              root stylesheet';
}
