/* Error: Undefined variable.
 *   ,
 * 3 | $shadow-text                 : shade-color($body-text-color, $active-percentage);
 *   |                                            ^^^^^^^^^^^^^^^^
 *   '
 *   theme/themesheets/objects/modules/_shadows.scss 3:44  @import
 *   theme/architecture.scss 61:11                         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 3 \2502  $shadow-text                 : shade-color($body-text-color, $active-percentage);\a   \2502                                             ^^^^^^^^^^^^^^^^\a   \2575 \a   theme/themesheets/objects/modules/_shadows.scss 3:44  @import\a   theme/architecture.scss 61:11                         root stylesheet";
}
