/* ___________________________________________________ THUMBNAIL */

// scss-docs-start thumbnail-variables
$thumbnail-padding:                 .25rem;
$thumbnail-bg:                      $body-bg;
$thumbnail-border-width:            $base-width;
$thumbnail-border-color:            shade($thumbnail-bg, $thumbnail-percentage);
$thumbnail-border-radius:           $thumbnail-radius;
$thumbnail-box-shadow:              $box-shadow-sm;
// scss-docs-end thumbnail-variables
