.absolute-header {
  position: absolute;
  z-index: $z-index-header;
  top: 0rem;
  right: 0;
  bottom: 0;
  left: 0;
}

.absolute-social-links {
  position: absolute;
  right: 70vw;
  bottom: 3vh;
  left: 3vw;
  z-index: 630
}
