$body-gradient         :
    radial-gradient( circle at top left, $primary-color 12%, transparent, $white ),
    radial-gradient( circle at top left, $primary-color 24%, $secondary-color, transparent, $white ),
    radial-gradient( circle at top left, $primary-color 36%, $secondary-color 24%, $accent-color, transparent, $white ),
    radial-gradient( circle at top left, $primary-color 48%, $secondary-color 36%, $accent-color 24%, transparent, $white );

$header-gradient         :
    linear-gradient( $gray-400 .12%, $primary-color, transparent ),
    linear-gradient( $primary-color, transparent ),
    linear-gradient( $gray-200 .25%, $primary-color, transparent ),
    linear-gradient( $primary-color, transparent ),
    linear-gradient( $gray-100 .5%, $primary-color, transparent );

$footer-gradient         :
    radial-gradient( circle at bottom right, $gray-400 .12%, $primary-color, transparent ),
    radial-gradient( circle at bottom right, $primary-color, transparent ),
    radial-gradient( circle at bottom right, $gray-200 .25%, $primary-color, transparent ),
    radial-gradient( circle at bottom right, $primary-color, transparent ),
    radial-gradient( circle at bottom right, $gray-100 .5%, $primary-color, transparent );

$nav-gradient            : linear-gradient(
  205deg,
  rgba($accent-color, 0.65) 5%,
  rgba($gray-300, 0.7) 25%,
  rgba($gray-400, 0.75) 35%,
  rgba($gray-500, 0.8) 40%,
  rgba($accent-color, 0.85) 45%,
  rgba($accent-color, 0.9) 60%,
  rgba($accent-color, 1) 75%
  rgba($accent-color, 0.5) 80%,
  rgba($accent-color, 0.25) 90%
);
