$footer-gradient2        : linear-gradient(
  90deg,
  transparent,
  rgba($white, 0.2) 5%,
  rgba($white, 0.3) 5%,
  rgba($accent-color, 0.4) 15%,
  rgba($accent-color, 0.5) 30%,
  rgba($primary-color, 0.6) 45%,
  rgba($primary-color, 0.7) 60%,
  rgba($primary-color, 0.8) 75%,
  rgba($primary-color, 0.9) 90%,
  rgba($primary-color, 1) 95%
);

$footer-gradient         :
    radial-gradient( circle at bottom right, $gray-400 .12%, $primary-color, transparent ),
    radial-gradient( circle at bottom right, $primary-color, transparent ),
    radial-gradient( circle at bottom right, $gray-200 .25%, $primary-color, transparent ),
    radial-gradient( circle at bottom right, $primary-color, transparent ),
    radial-gradient( circle at bottom right, $gray-100 .5%, $primary-color, transparent );

$nav-gradient            : linear-gradient(
  205deg,
  rgba($accent-color, 0.65) 5%,
  rgba($gray-300, 0.7) 25%,
  rgba($gray-400, 0.75) 35%,
  rgba($gray-500, 0.8) 40%,
  rgba($accent-color, 0.85) 45%,
  rgba($accent-color, 0.9) 60%,
  rgba($accent-color, 1) 75%
  rgba($accent-color, 0.5) 80%,
  rgba($accent-color, 0.25) 90%
);
