$active-percentage             : 30%;
$background-percentage         : 20%;
$border-percentage             : 45%;
$hover-percentage              : 50%;
$muted-percentage              : 60%;
$focus-percentage              : 45%;

$shadow-percentage             : 60%;
$shadow-btn-percentage         : 30%;
$shadow-inset-percentage       : 70%;

$disabled-percentage           : 40%;
$disabled-bg-percentage        : 50%;
$disabled-border-percentage    : 45%;

$link-percentage               : 10%;
$link-hover-percentage         : 60%;
$link-visited-percentage       : 40%;

$btn-disabled-opacity          : .45;

$input-btn-focus-color-opacity : .25;
$input-btn-focus-blur          : 10%;

$btn-disabled-opacity          : .65;
$btn-hover-bg-percentage       : 15%;
$btn-hover-bg-percentage       : 20%;
$btn-hover-border-percentage   : 35%;
$btn-hover-border-percentage   : 40%;
$btn-active-bg-percentage      : 45%;
$btn-active-bg-percentage      : 50%;
$btn-active-border-percentage  : 60%;
$btn-active-border-percentage  : 65%;
