$text-percentage             : 15%;
$card-percentage             : 10%;
$thumbnail-percentage        : 20%;
$border-percentage           : 25%;
$link-percentage             : 30%;
$button-percentage           : 35%;
$title-percentage            : 40%;
$shadow-percentage           : 49%;


$active-percentage           : 55%;
$hover-percentage            : 60%;
$muted-percentage            : 70%;
$background-percentage       : 75%;
$focus-percentage            : 80%;
$visited-percentage          : 90%;
$inactive-percentage         : 95%;

$input-btn-focus-blur        : 10%;

$btn-hover-border-percentage : 40%;
$btn-bg-percentage           : 50%;
$btn-border-percentage       : 65%;

$btn-inactive-opacity        : .45;
$input-btn-focus-opacity     : .25;
