$active-percentage           : 30%;
$background-percentage       : 10%;
$border-percentage           : 45%;
$hover-percentage            : 15%;
$muted-percentage            : 60%;
$emphasis-percentage         : 35%;
$text-percentage             : 10%;

$shadow-percentage           : 35%;
$button-percentage           : 30%;
$inset-percentage            : 70%;

$thumbnail-percentage        : 15%;

$muted-percentage            : 20%;
$focus-percentage            : 35%;
$title-percentage            : 30%;

$disabled-percentage         : 40%;
$visited-percentage          : 40%;

$btn-disabled-opacity        : .45;
$input-btn-focus-opacity     : .25;
$input-btn-focus-blur        : 10%;
$btn-hover-bg-percentage     : 20%;
$btn-hover-border-percentage : 40%;

$btn-bg-percentage           : 50%;
$btn-border-percentage       : 65%;
