/*! CJMT colorpalette _____________________________________
 * Theme/Brand Name              : CJMT
 * Author                        : CJMT
 *
 * Stylesheet                    : CJMT Brand Stylesheet
 *
 * = TOC =
 * [] Color Palette
 * (1) Color Variables
 * (2) Theme Colors
 * (3) Utilities Colors
 * [] Properties
 * [] Utilities
________________________________________________________ CJMT colorpalette */

/*! ____________________________________ COLOR MIXES */
$link-color                      : shade-color($secondary-color, $link-percentage);
$inactive-link                   : tint-color($link-color, $inactive-percentage);
$visited-color                   : shade-color( $accent-color, $visited-percentage);
$hover-color                     : tint-color( $secondary-color, $hover-percentage );

$card-color                      : tint-color($primary-color, $card-percentage);

$thumbnail-color                 : shade-color($accent-color, $thumbnail-percentage);

$shadow-color                    : shade-color($accent-color, $shadow-percentage);

$muted-color                     : tint-color( $accent-color, $muted-percentage );


$body-color                      : shade-color( $primary-color, $text-percentage );


;

/*! ____________________________________ LINK */

 $focus-color                    : shade-color( $primary-color, $focus-percentage );


/*! ____________________________________ TYPOGRAPHY */
$text-color                      : shade-color($primary-color, $text-percentage);
$site-color                      : shade-color( $primary-color, $title-percentage );
$page-color                      : shade-color( $secondary-color, $title-percentage );
$title-color                     : shade-color($primary-color, $title-percentage);
$post-color                      : mix-color( $accent-color, $title-percentage );
$entry-color                     : shade-color( $page-color, $text-percentage );
$lead-color                      : tint-color( $accent-color, $muted-percentage );
$footer-color                    : shade-color( $accent-color, $text-percentage );
$quote-color                     : tint-color( $footer-color, $focus-percentage );
$caption-color                   : shade-color( $body-color, $focus-percentage );
$nav-color                       : shade-color( $link-color, $active-percentage );
$code-color                      : shade-color( $hot-pink, $text-percentage );


/*! ____________________________________ BACKGROUND */
$body-bg-color                   : tint-color($secondary-color, $background-percentage);
$page-bg-color                   : tint-color($primary-color, $background-percentage);
$main-bg-color                   : tint-color($accent-color, $background-percentage);

  $primary-bg                    : tint-color($primary-color, $background-percentage);
  $secondary-bg                  : tint-color($secondary-color, $background-percentage);
  $accent-bg                     : tint-color($accent-color, $background-percentage);
  $valid-bg                      : tint-color($valid-color, $background-percentage);
  $invalid-bg                      : tint-color($invalid-color, $background-percentage);
  $invalid-bg                    : tint-color($invalid-color, $background-percentage);
  $attention-bg                  : tint-color($attention-color, $background-percentage);
  $info-bg                       :tint-color($info-color, $background-percentage);

/*! ____________________________________ BORDER */
  $border-color                  : shade-color($secondary-color, $border-percentage);
  $caption-border-color          : shade-color($caption-color, $border-percentage);

/*! ____________________________________ BUTTON + FORM */
$button-color                    : shade-color( $primary-color, $button-percentage );

$input-text-color                : shade-color($primary-color, 50%);
$input-bg-color                 : tint-color($primary-color, 35%);
$input-border-color              : shade-color($input-text-color, $border-percentage);
$input-text-focus          : shade-color($input-text-color, $focus-percentage);
$input-focus-bg-color            : shade-color($input-bg-color, $focus-percentage);
$input-focus-border-color        : shade-color($input-text-focus, $focus-percentage);

$input-inactive-bg-color         : shade-color($input-text-color, $inactive-percentage);
$input-inactive-border-color     : shade-color($input-text-color, $inactive-percentage);


$input-placeholder-text-color    : tint-color($input-text-color, $muted-percentage);
$input-plaintext-text-color      : tint-color($primary-color, $muted-percentage);

$form-file-button-hover-bg-color : shade-color($input-bg-color, $hover-percentage);

$input-group-bg-color            : tint-color($accent-color, $background-percentage);
$form-switch-text-color          : $input-bg-color;

/*! ____________________________________ LIST */
$list-group-text-color           : $gray-900;
$list-group-bg-color             : tint-color($list-group-text-color, $background-percentage);
$list-group-border-color         : shade-color($list-group-text-color, $border-percentage);
$list-group-hover-bg             : shift-color($list-group-bg-color, $hover-percentage);
$list-group-bg-color             : shift-color($list-group-text-color, $hover-percentage);
$list-group-inactive-bg-color    : shade-color($list-group-bg-color, $inactive-percentage );
