/* COLORpalette _________________________________________________________

Theme/Brand Name             : CJMT
Author                       : CJMT

Stylesheet                   : CJMT Brand Stylesheet

  = TOC =
  [] Color Palette
    (1) Color Variables
    (2) Brand Colors
    (3) Utilities Colors
  [] Properties
  [] Utilities

_________________________________________________________ colorPALETTE */

/* ___________________________________________________ VARIABLES */
  @import "color/variables";

/* ___________________________________________________ UTILITY */
  @import "color/utility";

/* ___________________________________________________ TEXT */
  @import "color/text";

/* ___________________________________________________ BUTTONS + FORMS */
    $input-text       : shade($primary, $text-percentage);
    $input-bg         : tint($primary, $background-percentage);
    $input-border     : shade($primary, $border-percentage);

    $input-text-focus : shade($input-text, $focus-percentage);
    $input-bg-focus   : tint($input-bg, $focus-percentage);
    $input-border-focus : shade($input-border, $focus-percentage);

    $input-group-bg   : $gray-200;
    $form-switch-text : $input-bg;

    $form-switch-text : $input-bg;

/* ___________________________________________________ LINK */
    $nav-link-transition         : color .15s ease-in-out, background .15s ease-in-out, border .15s ease-in-out;

    /* Link */
    $link-active                 : $active;
    $hover                     : shift($link-active, $hover-percentage);

    $link-focus               : tint($link-active, $focus-percentage);

    $visited              : shade($link-active, $visited-percentage);
    $visited-hover        : shade($link-active, $visited-percentage);

    /* Nav */
    $nav-text                  : $active;
    $nav-text-hover                  : shade($nav-text, $hover-percentage);
    $nav-inactive              : shade($nav-text, $inactive-percentage);

    /* Tabs */
    $tabs-hover-border               : shade($border, $hover-percentage);

    /* Navbar */
    $navbar-dark-text                : $accent;
    $navbar-dark-hover               : shift($navbar-dark-text, $hover-percentage);
    $navbar-dark-inactive-text       : color-mix(srgb $navbar-dark-text $inactive-percentage, $inactive);
    $navbar-dark-toggler-border      :     $navbar-dark-text;

    $navbar-light-text               : $primary;
    $navbar-light-hover              : shift($navbar-light-text, $hover-percentage);
    $navbar-light-inactive-text      : color-mix(srgb $navbar-light-text $inactive-percentage, $inactive);
    $navbar-light-toggler-border     :     $navbar-dark-text;

    @import "color/rgba";
    @import "color/maps";
    @import "color/contrast";
