/* CJMTheme _________________________________________________________

  Theme                          : CJMT - Creativity Architect Default
  Author                         : CJMT

  Stylesheet                     : Default Theme

  = TOC =
   ()
   ()
   ()

_________________________________________________________ CJMTheme */

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast

$min-contrast-ratio: 2.5 !default;
// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: black !default;
$color-contrast-light: white !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
@import "properties/features";


@import "properties/spacing";

@import "properties/positioning";

@import "properties/padding";

@import "properties/border";


/* _____________________________________ GRID */
  $grid-columns                  : 16 !default;
  $grid-row-columns              : 16 !default;
  $grid-gutter                   : 16px !default;



/* ____________________________________ ANIMATION */
  $animation-speed: 250ms !default;
  $animation: ease-in-out !default;

/* ____________________________________ Z-INDEX */
@import "themesheets/abstracts/materials/zindex";

/* ____________________________________ LINK */
@import "themesheets/abstracts/materials/links";

/* ____________________________________ WIDTH */
@import "themesheets/abstracts/materials/width";
