/* ____________________________________ BORDERS */
  $base-width                    : 1px !default;
  $base-radius                   : .95rem !default;
  $border: shade($accent, $border-percentage);

  @import "borders/border-width";
  @import "borders/border-radius";
  @import "borders/borders";
