/* _____________________________________ SPACING */
  /* Base Number */
  $base-number                   : 1 !default;
    /* Map */
    $base-numbers                : (
      0                          : 0,
      1                          : $base-number * .25,
      2                          : $base-number * .5,
      3                          : $base-number,
      4                          : $base-number * 1.5,
      5                          : $base-number * 3
      );

  $negative-numbers              : negativify-map($base-number);

  $vertical-base                 : 1vh !default;
  $horizontal-base               : 1vw !default;

  /* Base Size */
  $base-size                     : 1.05 !default;
    $xs                          : $base-size * .75; // .86 14px 10.5pt
    $sm                          : $base-size * .875; // 1.0 16px 12pt medium
    $md                          : $base-size * 1.05; // 1.20 19px 14pt
    $lg                          : $base-size * 1.25; // 1.44 23px 17pt
    $xl                          : $base-size * 1.50; // 1.73 26-29px 20-22pt
    $xxl                         : $base-size * 1.75; // 2.01 32px 24pt

    /* Map */
    $sizes                       : (
      'xs'                       : $xs,
      'sm'                       : $sm,
      'md'                       : $md,
      'lg'                       : $lg,
      'xl'                       : $xl,
      'xxl'                      : $xxl
    );

  /* Block Spacing */
  $block-spacing                 : 1.5rem !default;
