/* Utitities Color */

$light:             $cjmt-gray-100;
$dark:              $cjmt-gray-900;

$dark-contrast:            $black;
$light-contrast:           $white

$variable-prefix:             cjmt-;

// Body
//
// Settings for the `<body>` element.
/* Utilities Typography */
$text-muted-color:              $cjmt-gray-400;
$body-text-color:               $cjmt-gray-200;
$body-bg-color:                 $cjmt-gray-800;

$shadow-color:                    $cjmt-gray-800 !default;

/*Gradient */
$gradient-tabs-bg: linear-gradient(320deg, transparent, rgba($white-rgb, .10) 20%, rgba($accent-rgb, .20) 35%, rgba($accent-rgb, .30) 50%, rgba($accent-rgb, .40) 65%);

/* Link Utilities */
$active-text-color:    shift-color($primary-color, $active-text-shade-percentage);
$active-bg-color:       tint($active-text, $active-bg-tint-percentage);
$active-border-color:   shade($active-text, $active-border-shade-border);

$disabled-text-color:      shift-color($saltpan, $disabled-text-shade-percentage);
$disabled-bg-color:        tint($disabled-text-color, $disabled-bg-tint-percentage);
$disabled-border-color:    shade($disabled-text-color, $disabled-border-shade-border);



// Links
//
// Style anchor elements.



$site-title-color:        $primary-color;
$page-title-color:        $secondary-color;
$post-title-color:        $accent-color;
$lead-text-color:         shift-color($post-title-color, $muted-change-percentage);
$caption-text-color:      darken($body-text-color, 10%);
$nav-text-color:          darken($secondary-color, 10%);
$btn-text-color:          darken($body-text-color, 10%);
$quote-text-color:        darken($primary-color, 10%);
$footer-text-color:       darken($accent-color, 10%);


/* Utilities Input*/
$input:               $cjmt-gray-500;
$input-bg:            $cjmt-gray-100;
$input-border:        $cjmt-gray-900;
$input-focus:         $cjmt-gray-800;
$input-focus-bg:      $cjmt-white;
$input-focus-border:  $cjmt-gray-100;

$shadow-color:        $cjmt-gray-800;
$shadow:               .5rem .75rem .25rem $cjmt-shadow-color;

/* Link Utilities */
$link-active-hover-decoration:  bold, underline;

$nav-link-text-color:           tint($secondary-color, $link-active-shade-percentage) !default;


/* Nav Utilities */
$nav-active:                      $cjmt-chocolate;
$nav-link-transition:               color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out !default;

$nav-link-text-hover-color:           shift-color($nav-link-text-color, $link-active-shade-percentage);


$tabs-border:                   $cjmt-chocolate;
$tabs-active:                   $cjmt-chocolate;
$tabs-active-bg:                $cjmt-camel;
$tabs-active-border:            $cjmt-chocolate;


$cjmt-border:      $cjmt-chocolate;

/* Nav Utilities */
$nav-link-text-color:                 tint($secondary-color, $link-active-shade-percentage) !default;
$nav-link-text-hover-color:           shift-color($nav-link-text-color, $link-active-shade-percentage);


$tabs-active-bg-color:                $gradient-tabs-bg;

/* Utilities Input*/
$input-text-color:                    $gray-500;
$input-bg-color:                      $gray-100;
$input-border-color:                  $gray-900;
$input-text-focus-color:              $gray-800;
$input-bg-focus-color:                $white;
$input-border-focus-color:            $gray-100;
