/* Theme Border */
$valid-border-color     : shade-color($valid-color, $border-percentage);
$info-border-color      : shade-color($info-color, $border-percentage);
$alert-border-color     : shade-color($alert-color, $border-percentage);
$invalid-border-color   : shade-color($invalid-color, $border-percentage);
$attention-border-color : shade-color($attention-color, $border-percentage);

/* Theme BG Colors */
$valid-bg-color         : tint-color($valid-color, $background-percentage);
$info-bg-color          : tint-color($info-color, $background-percentage);
$alert-bg-color         : tint-color($alert-color, $background-percentage);
$invalid-bg-color       : tint-color($invalid-color, $background-percentage);
$attention-bg-color     : tint-color($attention-color, $background-percentage);



@import "color-palette/patterns/gradient";

/* _____________________________________ SHADOWS */
@import "color-palette/patterns/shadow";
