/* COLOR MAPS */

/* fusv-disabled*/
/* scss-docs-start cjmt-gray-colors-map */
$cjmt-grays: (
  100: $cjmt-gray-100,
  200: $cjmt-gray-200,
  300: $cjmt-gray-300,
  400: $cjmt-gray-400,
  500: $cjmt-gray-500,
  600: $cjmt-gray-600,
  700: $cjmt-gray-700,
  800: $cjmt-gray-800,
  900: $cjmt-gray-900
);
/* scss-docs-end cjmt-gray-colors-map */
/* fusv-enable */

/* scss-docs-start colors-map */
$cjmt-colors:(
cjmt-blue:            $cjmt-blue,
cjmt-indigo:          $cjmt-indigo,
cjmt-purple:          $cjmt-purple,
cjmt-pink:            $cjmt-pink,
cjmt-red:             $cjmt-red,
cjmt-orange:          $cjmt-orange,
cjmt-yellow:          $cjmt-yellow,
cjmt-green:           $cjmt-green,
cjmt-teal:            $cjmt-teal,
cjmt-cyan:            $cjmt-cyan,
cjmt-silver:          $cjmt-silver,
cjmt-chocolate:       $cjmt-chocolate,
cjmt-gray:            $cjmt-gray,
cjmt-black:           $cjmt-black,
cjmt-white:           $cjmt-white,
cjmt-camel:           $cjmt-camel,
cjmt-saltpan:         $cjmt-saltpan,
cjmt-white-chocolate: $cjmt-white-chocolate,
cjmt-dark-vanilla:    $cjmt-dark-vanilla,
cjmt-ghost-white:     $cjmt-ghost-white
);
/* scss-docs-end colors-map */

$cjmt-theme-colors: (
  cjmt-primary:     $cjmt-primary,
  cjmt-secondary:   $cjmt-secondary,
  cjmt-accent:      $cjmt-accent,
  success:          $success,
  info:             $info,
  warning:          $warning,
  danger:           $danger
);

$utilities-text-colors:(
text-muted:         $text-muted,
text:               $text,
body:               $body,
light:              $light,
dark:               $dark
);



$cjmt-primary-100: tint-color($cjmt-primary, 80%);
$cjmt-primary-200: tint-color($cjmt-primary, 60%);
$cjmt-primary-300: tint-color($cjmt-primary, 40%);
$cjmt-primary-400: tint-color($cjmt-primary, 20%);
$cjmt-primary-500: $cjmt-primary;
$cjmt-primary-600: shade-color($cjmt-primary, 20%);
$cjmt-primary-700: shade-color($cjmt-primary, 40%);
$cjmt-primary-800: shade-color($cjmt-primary, 60%);
$cjmt-primary-900: shade-color($cjmt-primary, 80%);

$cjmt-secondary-100: tint-color($cjmt-secondary, 80%);
$cjmt-secondary-200: tint-color($cjmt-secondary, 60%);
$cjmt-secondary-300: tint-color($cjmt-secondary, 40%);
$cjmt-secondary-400: tint-color($cjmt-secondary, 20%);
$cjmt-secondary-500: $cjmt-secondary;
$cjmt-secondary-600: shade-color($cjmt-secondary, 20%);
$cjmt-secondary-700: shade-color($cjmt-secondary, 40%);
$cjmt-secondary-800: shade-color($cjmt-secondary, 60%);
$cjmt-secondary-900: shade-color($cjmt-secondary, 80%);

$cjmt-accent-100: tint-color($cjmt-accent, 80%);
$cjmt-accent-200: tint-color($cjmt-accent, 60%);
$cjmt-accent-300: tint-color($cjmt-accent, 40%);
$cjmt-accent-400: tint-color($cjmt-accent, 20%);
$cjmt-accent-500: $cjmt-accent;
$cjmt-accent-600: shade-color($cjmt-accent, 20%);
$cjmt-accent-700: shade-color($cjmt-accent, 40%);
$cjmt-accent-800: shade-color($cjmt-accent, 60%);
$cjmt-accent-900: shade-color($cjmt-accent, 80%);


$cjmt-primarys: (
  'cjmt-primary-100': $cjmt-primary-100,
  'cjmt-primary-200': $cjmt-primary-200,
  'cjmt-primary-300': $cjmt-primary-300,
  'cjmt-primary-400': $cjmt-primary-400,
  'cjmt-primary-500': $cjmt-primary-500,
  'cjmt-primary-600': $cjmt-primary-600,
  'cjmt-primary-700': $cjmt-primary-700,
  'cjmt-primary-800': $cjmt-primary-800,
  'cjmt-primary-900': $cjmt-primary-900
);

$cjmt-secondarys: (
  'cjmt-secondary-100': $cjmt-secondary-100,
  'cjmt-secondary-200': $cjmt-secondary-200,
  'cjmt-secondary-300': $cjmt-secondary-300,
  'cjmt-secondary-400': $cjmt-secondary-400,
  'cjmt-secondary-500': $cjmt-secondary-500,
  'cjmt-secondary-600': $cjmt-secondary-600,
  'cjmt-secondary-700': $cjmt-secondary-700,
  'cjmt-secondary-800': $cjmt-secondary-800,
  'cjmt-secondary-900': $cjmt-secondary-900
);

$cjmt-accents: (
  cjmt-accent-100: $cjmt-accent-100,
  cjmt-accent-200: $cjmt-accent-200,
  cjmt-accent-300: $cjmt-accent-300,
  cjmt-accent-400: $cjmt-accent-400,
  cjmt-accent-500: $cjmt-accent-500,
  cjmt-accent-600: $cjmt-accent-600,
  cjmt-accent-700: $cjmt-accent-700,
  cjmt-accent-800: $cjmt-accent-800,
  cjmt-accent-900: $cjmt-accent-900
);
