/* Utilities Text Variables */
$text-muted-rgb:        rgb(98,98,98);
$text-rgb:              rgb(0,1,0);
$body-rgb:              rgb(228,237,244);
$caption-rgb:           rgb(62,62,62);
$caption-border-rgb:    rgb(26,26,26);
$light-rgb:             rgb(192,192,192);
$dark-rgb:              rgb(26,26,26);
$input-rgb:             rgb(78,78,78);
$input-bg-rgb:          rgb(192,192,192);
$input-border-rgb:      rgb(26,26,26);
$input-focus-rgb:       rgb(40,40,40);
$input-focus-bg-rgb:     rgb(228,237,244);
$input-focus-border-rgb: rgb(26,26,26);
