$footer-gradient2        : linear-gradient(
  90deg,
  transparent,
  rgba($white, 0.2) 5%,
  rgba($white, 0.3) 5%,
  rgba($accent-color, 0.4) 15%,
  rgba($accent-color, 0.5) 30%,
  rgba($primary-color, 0.6) 45%,
  rgba($primary-color, 0.7) 60%,
  rgba($primary-color, 0.8) 75%,
  rgba($primary-color, 0.9) 90%,
  rgba($primary-color, 1) 95%
);

$footer-gradient         : linear-gradient(
  90deg,
  transparent,
  rgba($primary-color, 0.10) 5%,
  rgba($primary-color, 0.15) 10%,
  rgba($primary-color, 0.20) 20%,
  rgba($primary-color, 0.25) 35%,
  rgba($primary-color, 0.30) 50%,
  rgba($primary-color, 0.45) 65%,
  rgba($primary-color, 0.60) 80%,
  rgba($primary-color, .75) 90%,
  rgba($primary-color, .9) 95%
),
    radial-gradient( circle at bottom right, $black, $primary-color, transparent );

$nav-gradient            : linear-gradient(
  205deg,
  rgba($accent-color, 0.65) 5%,
  rgba($gray-300, 0.7) 25%,
  rgba($gray-400, 0.75) 35%,
  rgba($gray-500, 0.8) 40%,
  rgba($accent-color, 0.85) 45%,
  rgba($accent-color, 0.9) 60%,
  rgba($accent-color, 1) 75%
  rgba($accent-color, 0.5) 80%,
  rgba($accent-color, 0.25) 90%
);
