$alpha-from              : 1 ;
$alpha-to                : 0 ;
$diff                    : $alpha-from - $alpha-to;

$gradient                : linear-gradient(180deg, to right bottom, #0abab5, #0abab5, #0abab5, #0abab5, #ffcc33, #ffcc33, #ffcc33, #a8a9ad, #a8a9ad, #fbfbfd, transparent);


$primary-color-gradient        : linear-gradient(
  290deg,
  transparent 100%,
  rgba($white, $alpha-to) 5%,
  rgba($accent-color, calc($alpha-from - $diff * .1)) 15%,
  rgba($secondary-color, calc($alpha-from - $diff * .25)) 27%,
  rgba($accent-color, calc($alpha-from - $diff * .30)) 39%,
  rgba($secondary-color, calc($alpha-from - $diff * 0.6)) 45%,
  rgba($secondary-color, calc($alpha-from - $diff * 0.35)) 51.5%,
  rgba($primary-color, calc($alpha-from - $diff * 0.4)) 63.85%,
  rgba($primary-color, calc($alpha-from - $diff * 0.45)) 75%,
  rgba($primary-color, $alpha-from) 90%);

$secondary-color-gradient: linear-gradient(
  290deg,
  transparent,
  rgba($white, .3) 40%,
  rgba($primary-color, .5) 35%
  rgba($accent-color, 0.4) 25%,
  rgba($accent-color, 0.5) 40%,
  rgba($secondary-color, 0.6) 45%,
  rgba($secondary-color, 0.7) 55%,
  rgba($secondary-color, 0.8) 65%,
  rgba($secondary-color, 0.9) 70%,
  rgba($secondary-color, 1) 90%,
);

$accent-color-gradient   : linear-gradient(
  290deg,
  transparent,
  rgba($white, .3) 40%,
  rgba($secondary-color, .5) 35%
  rgba($primary-color, 0.4) 25%,
  rgba($primary-color, 0.5) 40%,
  rgba($accent-color, 0.6) 45%,
  rgba($accent-color, 0.7) 55%,
  rgba($accent-color, 0.8) 65%,
  rgba($accent-color, 0.9) 80%,
  rgba($accent-color, 1) 90%,
);
