/* Base/Default settings. */

body,
button,
input,
select,
textarea {

}

html {
  box-sizing: border-box;
}

body,
html {
  height: auto;
  width: auto;
  margin: 0;
}

body {
  float: left;
  overflow: hidden;
  align-items: left;
  justify-content: flex-start;
  font-size: 100%;
}


div {
  display: flex;
  float: left;
  justify-content: space-evenly;
}


/* If you want to give a common style to all of the titles in your theme, here's a place to do it (you can style them individually later) */
.site-title,
.entry-title,
.page-title,
.widget-title,
.comments-title,
#reply-title {

}
