$colors : ();

@function create_color_map($color, $percentage, $opacity) {
    $map  : (
    base  : $color,
    light : lighten($color, $percentage),
    dark  : shade-color($color, $percentage),
    trans : transparentize($color, $opacity)
    );
    @return $map;
}

@each $key, $value in $colors {
    $map    : ();
    $map    : map-merge($map, ($key:
    create_color_map($value, 15%, 0.5)) );
    $colors : map-merge($colors-map, $map);
}

@debug $colors;

$theme-colors : ();
@function create_color_map($color, $percentage, $opacity) {
    $map  : (
    base  : $color,
    light : lighten($color, $percentage),
    dark  : shade-color($color, $percentage),
    trans : transparentize($color, $opacity)
    );
    @return $map;
}

@each $key, $value in $colors {
    $map    : ();
    $map    : map-merge($map, ($key:
    create_color_map($value, 15%, 0.5)) );
    $colors : map-merge($colors-map, $map);
}
@debug $theme-colors;
