$primary-color-rgb:          rgb(0,204,204);
$secondary-color-rgb:        rgb(255,228,30);
$accent-color-rgb:           rgb(168,169,173);
$valid-color-rgb:            rgb(11,218,81);
$warning-color-rgb:          rgb(255,153,102);
$alert-color-rgb:            rgb(186,10,15);
$color-info-rgb:             rgb(65,105,225);
$invalid-color:              rgb(186,10,15);
