$primary:           $cyan;
$secondary:         $yellow;
$accent:            $teal;

$primary-color:     $primary;
$secondary-color:   $secondary;
$accent-color:      $accent;

$valid:         $green;
$attention:     $orange;
$invalid:       $red;
$info:          $blue;
$alert:         $pink;
$light:         $gray-100;
$dark:          $gray-900;
