/* BOX SHADOW */
$box-shadow: 1.75rem 1.5rem 1.75rem $shadow-color;
$box-shadow-sm: 1.25rem 1rem 1rem $primary-color 35%, -1rem -.75rem -.75rem $gray-800 15%;

$box-shadow-lg: 2.25rem 1.75rem 1.25rem $primary-color 35%, -2rem -1.5rem -.25rem $gray-800 15%;

$box-shadow-hover: .25rem .50rem .75rem $shadow-hover;
$box-shadow-focus: -.25rem .50rem .75rem $shadow-focus, -.25rem -.50rem .75rem tint-color(rgba(50,50,50), 25%);

$box-shadow-inset: inset -.25rem -.25rem -.50rem 0px rgba($primary-color, .7) 25%, inset .25rem .25rem .50rem 0px rgb($accent-color, .35) 25%;
