body {
  text-align: left;
  color:#000;
  font-family: serif;
  font-size: $font-size-base;
  line-height: $line-height-base;
  margin:0 auto;
  padding: $offset-x $offset-y;
  background: rgb(253, 253, 253);
  width: 100%;
  color:rgb(10, 10, 10);
}
