
body {
  text-align: left;
  color: $text;
  font-family: $secondary-font;
  font-size: $font-size-base;
  line-height: 1.6;
  margin: auto;
  padding: 2em 2em 5em;
  background: $body-bg;
}

/* Text elements */
    p {
    	margin-bottom: 1.5em;
    }
    b, strong {
    	font-weight: bold;
    }
    dfn, cite, em, i {
    	font-style: italic;
    }

    address {
    	margin: 0 0 1.5em;
    }



/* ______________________________________________ CODE */


/* ______________________________________________ TABLE */
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}

.normal {
  font-weight: normal;
}
.quiet {
  color: #999;
}
.pull-left {
  float: left;
  margin: 0.5em 2em 1em 0;
}
.pull-right {
  float: right;
  margin: 0.5em 0 1em 2em;
}

/* RESPONSIVE SETTINGS */
@media (max-width: 500px) {
  body {
    font-size: 80%;
  }
  img {
    max-width: 100% !important;
    height: auto !important;
    float: none !important;
  }
}
