@mixin linear-gradient($secondary-color-gradient){
  background-image: $secondary-color-gradient;
}


.masthead {
  /* The container for the page-title group area */
  @include border-box;
  @include make-col;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  align-self: stretch;
  height: 105%;
  max-height: 102vh;
  width: 100%;
  max-width: 8rem;
  box-shadow: $masthead-shadow;

  writing-mode: vertical-lr;
  text-orientation: upright;
  margin-top: -1rem;
  margin-right: 0;
  margin-bottom: -3rem;
  margin-left: 0;
  padding-top: 10rem;
  padding-right: 0.25rem;
  padding-left: 0.25rem;


    height: 110%;
    border: 1px solid $black;

}

  .pageplate #secondary {
    @include linear-gradient($secondary-color-gradient);
  }
