/* ___________________________________________________ MENU & NAVIGATION */
/* LINK ____________________________________ Style anchor elements. */

@import "nav/mixins/nav-divider";
@import "nav/mixins/navbar-align";
@import "nav/mixins/tab-focus";
@import "nav/base/nav-variables";
@import "nav/base/nav";

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: center;
    font-size: 30px;
}

li {
    text-decoration: none;
    margin-right: 11px;
}

ul li a {
    color: rgb(232, 231, 233);
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
    color: rgb(150, 120, 180);
}
