
.page {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: hidden;
  height: auto;
  width: fluid;
  @include make-grid;
  overflow: hidden;

  opacity: .75;
  z-index: $z-index-page;
  flex: 1 1 auto;
  color: $body-text-color;
}
