$offset: 3rem 1.5rem !default;
$offset-desktop: 3rem 3rem !default;
$offset-md: 9rem 4.5rem !default;
$offset-lg: 18rem 6rem !default;

.section {
  padding: $offset;
  border: 3px solid $orange;
  background: $white;
  // Responsiveness
  @include desktop {
    padding: $offset-desktop;
    // Sizes
    &.is-medium {
      padding: $offset-md;
    }
    &.is-large {
      padding: $offset-lg;
    }
  }
}
