



/* Style elements inside of the .site-header container */
.nameplate hgroup { /* Container for site title and description */
  margin-left: 12rem;
  width: 100%;
  max-width: 8vw;
  border: 2px solid $red;
}

.site-title,
.site-title a {
    @include site-title;
    position: absolute;
    z-index: $z-index-site-title;
    text-shadow: $shadow-title;
    text-decoration: none;
    font-size: 5vw;
}

.site-description {
    @include site-description;
  margin-left: 8rem;
  margin-right: 0;
  width: 30rem;
}
