

@mixin nameplate-architecture {
    .nameplate {

        .the,
        .the a,
        .site-title,
        .site-title {
            @include site-title;
            @include nameplate-site-title;

            .the a:hover,
            .site-title: hover {
                text-decoration: none;
                color: shift-color($link-color, $active-percentage);
                opacity: .65;
            }
        }

        .the {
            position: absolute;
            z-index: 1220;
            top: 0;
            left: 5.75vw;
            bottom: 0;
            font-size: 2.5vw;
            text-transform: lowercase;
        }

        .site-title {
            text-decoration: none;
            font-size: 5.32vw;
            text-align: center;
        }
        .site-description {
            @include site-description;
            @include text-transform(lowercase);
            position: absolute;
            top: -1vh;
            right: 2vw;
            z-index: 1220;
            font-size: 2.5vw;
            height: 100%;
            max-height: 100vh;
        }
    }
}



nav .social-links a {
    font-size: 18px;
    display: inline-block;
    background: 0.212431;
    color: $info-color;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#masthead .nameplate .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
}
