$hr-margin-y:                 $spacer !default;
$hr-color:                    inherit !default;
$hr-bg-color:                 currentColor !default;
$hr-base-width:             0 !default;
$hr-height:                   $base-width !default;
$hr-opacity:                  .25 !default;

hr {
  background: $body-bg;
  border: 0;
  -moz-box-sizing: content-box;
  height: 0;
  margin: 4rem 0;
  box-sizing: content-box;
}
