$hr-margin-y:                 $spacer !default;
$hr-color:                    inherit !default;
$hr-bg-color:                 currentColor !default;
$hr-border-width:             0 !default;
$hr-height:                   $border-width !default;
$hr-opacity:                  .25 !default;

hr {
  background: $body-bg;
  border: 0;
  -moz-box-sizing: content-box;
  height: 1px;
  margin: 0 0 1.75em;
  box-sizing: content-box;
}
