/* 3 */

$quote-font-family: $accent-font;

$blockquote-margin-y:         $spacer !default;
$blockquote-font-size:        $font-size-base * 1.25 !default;
$blockquote-footer-color:     $gray-600 !default;
$blockquote-footer-font-size: $small-font-size !default;

blockquote {
	font-style: italic;
	margin: 0 1.5em;
	small {
		display: block;
		line-height: 1.7em;
		font-size: $font-size-sm;
	}
}

blockquote,
q {
	font-family: $quote-font-family;
	background: $secondary-bg;
	border-left: 10px solid $primary;
	display: block;
  padding-left: $xl;
  quotes: none;
	&:before,
	&:after {
		content: "";
	}
}

blockquote p:first-child {
	margin-top: 0;
}

blockquote p:last-child {
	margin-bottom: 0;
}
