$primary-color-gradient: linear-gradient(
  290deg,
  transparent,
  rgba($white, 0.05) 3%,
  rgba($accent-color, 0.1) 15%,
  rgba($secondary-color, 0.25) 27%,
  rgba($secondary-color, 0.30) 39%,
  rgba($primary-color, 0.6) 45%,
  rgba($primary-color, 0.35) 51%,
  rgba($primary-color, 0.4) 63%,
  rgba($primary-color, 0.45) 75%,
  rgba($primary-color, .5) 90%
  );

$gradient-secondary: linear-gradient(
  290deg,
  transparent,
  rgba($white, .3) 40%,
  rgba($primary-color, .5) 35%
  rgba($accent-color, 0.4) 25%,
  rgba($accent-color, 0.5) 40%,
  rgba($secondary-color, 0.6) 45%,
  rgba($secondary-color, 0.7) 55%,
  rgba($secondary-color, 0.8) 65%,
  rgba($secondary-color, 0.9) 70%,
  rgba($secondary-color, 1) 90%,
);

$accent-color-gradient: linear-gradient(
  290deg,
  transparent,
  rgba($white, .3) 40%,
  rgba($secondary-color, .5) 35%
  rgba($primary-color, 0.4) 25%,
  rgba($primary-color, 0.5) 40%,
  rgba($accent-color, 0.6) 45%,
  rgba($accent-color, 0.7) 55%,
  rgba($accent-color, 0.8) 65%,
  rgba($accent-color, 0.9) 80%,
  rgba($accent-color, 1) 90%,
);
