// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast

$cjmt-min-contrast-ratio: 2.5;
// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: black;
$color-contrast-light: white;

// fusv-disable
$cjmt-blue-100: tint-color($cjmt-blue, 80%);
$cjmt-blue-200: tint-color($cjmt-blue, 60%);
$cjmt-blue-300: tint-color($cjmt-blue, 40%);
$cjmt-blue-400: tint-color($cjmt-blue, 20%);
$cjmt-blue-500: $cjmt-blue;
$cjmt-blue-600: shade-color($cjmt-blue, 20%);
$cjmt-blue-700: shade-color($cjmt-blue, 40%);
$cjmt-blue-800: shade-color($cjmt-blue, 60%);
$cjmt-blue-900: shade-color($cjmt-blue, 80%);

$cjmt-indigo-100: tint-color($cjmt-indigo, 80%);
$cjmt-indigo-200: tint-color($cjmt-indigo, 60%);
$cjmt-indigo-300: tint-color($cjmt-indigo, 40%);
$cjmt-indigo-400: tint-color($cjmt-indigo, 20%);
$cjmt-indigo-500: $cjmt-indigo;
$cjmt-indigo-600: shade-color($cjmt-indigo, 20%);
$cjmt-indigo-700: shade-color($cjmt-indigo, 40%);
$cjmt-indigo-800: shade-color($cjmt-indigo, 60%);
$cjmt-indigo-900: shade-color($cjmt-indigo, 80%);

$cjmt-purple-100: tint-color($cjmt-purple, 80%);
$cjmt-purple-200: tint-color($cjmt-purple, 60%);
$cjmt-purple-300: tint-color($cjmt-purple, 40%);
$cjmt-purple-400: tint-color($cjmt-purple, 20%);
$cjmt-purple-500: $cjmt-purple;
$cjmt-purple-600: shade-color($cjmt-purple, 20%);
$cjmt-purple-700: shade-color($cjmt-purple, 40%);
$cjmt-purple-800: shade-color($cjmt-purple, 60%);
$cjmt-purple-900: shade-color($cjmt-purple, 80%);

$cjmt-pink-100: tint-color($cjmt-pink, 80%);
$cjmt-pink-200: tint-color($cjmt-pink, 60%);
$cjmt-pink-300: tint-color($cjmt-pink, 40%);
$cjmt-pink-400: tint-color($cjmt-pink, 20%);
$cjmt-pink-500: $cjmt-pink;
$cjmt-pink-600: shade-color($cjmt-pink, 20%);
$cjmt-pink-700: shade-color($cjmt-pink, 40%);
$cjmt-pink-800: shade-color($cjmt-pink, 60%);
$cjmt-pink-900: shade-color($cjmt-pink, 80%);

$cjmt-red-100: tint-color($cjmt-red, 80%);
$cjmt-red-200: tint-color($cjmt-red, 60%);
$cjmt-red-300: tint-color($cjmt-red, 40%);
$cjmt-red-400: tint-color($cjmt-red, 20%);
$cjmt-red-500: $cjmt-red;
$cjmt-red-600: shade-color($cjmt-red, 20%);
$cjmt-red-700: shade-color($cjmt-red, 40%);
$cjmt-red-800: shade-color($cjmt-red, 60%);
$cjmt-red-900: shade-color($cjmt-red, 80%);

$cjmt-orange-100: tint-color($cjmt-orange, 80%);
$cjmt-orange-200: tint-color($cjmt-orange, 60%);
$cjmt-orange-300: tint-color($cjmt-orange, 40%);
$cjmt-orange-400: tint-color($cjmt-orange, 20%);
$cjmt-orange-500: $cjmt-orange;
$cjmt-orange-600: shade-color($cjmt-orange, 20%);
$cjmt-orange-700: shade-color($cjmt-orange, 40%);
$cjmt-orange-800: shade-color($cjmt-orange, 60%);
$cjmt-orange-900: shade-color($cjmt-orange, 80%);

$cjmt-yellow-100: tint-color($cjmt-yellow, 80%);
$cjmt-yellow-200: tint-color($cjmt-yellow, 60%);
$cjmt-yellow-300: tint-color($cjmt-yellow, 40%);
$cjmt-yellow-400: tint-color($cjmt-yellow, 20%);
$cjmt-yellow-500: $cjmt-yellow;
$cjmt-yellow-600: shade-color($cjmt-yellow, 20%);
$cjmt-yellow-700: shade-color($cjmt-yellow, 40%);
$cjmt-yellow-800: shade-color($cjmt-yellow, 60%);
$cjmt-yellow-900: shade-color($cjmt-yellow, 80%);

$cjmt-green-100: tint-color($cjmt-green, 80%);
$cjmt-green-200: tint-color($cjmt-green, 60%);
$cjmt-green-300: tint-color($cjmt-green, 40%);
$cjmt-green-400: tint-color($cjmt-green, 20%);
$cjmt-green-500: $cjmt-green;
$cjmt-green-600: shade-color($cjmt-green, 20%);
$cjmt-green-700: shade-color($cjmt-green, 40%);
$cjmt-green-800: shade-color($cjmt-green, 60%);
$cjmt-green-900: shade-color($cjmt-green, 80%);

$cjmt-teal-100: tint-color($cjmt-teal, 80%);
$cjmt-teal-200: tint-color($cjmt-teal, 60%);
$cjmt-teal-300: tint-color($cjmt-teal, 40%);
$cjmt-teal-400: tint-color($cjmt-teal, 20%);
$cjmt-teal-500: $cjmt-teal;
$cjmt-teal-600: shade-color($cjmt-teal, 20%);
$cjmt-teal-700: shade-color($cjmt-teal, 40%);
$cjmt-teal-800: shade-color($cjmt-teal, 60%);
$cjmt-teal-900: shade-color($cjmt-teal, 80%);

$cjmt-cyan-100: tint-color($cjmt-cyan, 80%);
$cjmt-cyan-200: tint-color($cjmt-cyan, 60%);
$cjmt-cyan-300: tint-color($cjmt-cyan, 40%);
$cjmt-cyan-400: tint-color($cjmt-cyan, 20%);
$cjmt-cyan-500: $cjmt-cyan;
$cjmt-cyan-600: shade-color($cjmt-cyan, 20%);
$cjmt-cyan-700: shade-color($cjmt-cyan, 40%);
$cjmt-cyan-800: shade-color($cjmt-cyan, 60%);
$cjmt-cyan-900: shade-color($cjmt-cyan, 80%);

$cjmt-silver-100: tint-color($cjmt-silver, 80%);
$cjmt-silver-200: tint-color($cjmt-silver, 60%);
$cjmt-silver-300: tint-color($cjmt-silver, 40%);
$cjmt-silver-400: tint-color($cjmt-silver, 20%);
$cjmt-silver-500: $cjmt-silver;
$cjmt-silver-600: shade-color($cjmt-silver, 20%);
$cjmt-silver-700: shade-color($cjmt-silver, 40%);
$cjmt-silver-800: shade-color($cjmt-silver, 60%);
$cjmt-silver-900: shade-color($cjmt-silver, 80%);

$cjmt-chocolate-100: tint-color($cjmt-chocolate, 80%);
$cjmt-chocolate-200: tint-color($cjmt-chocolate, 60%);
$cjmt-chocolate-300: tint-color($cjmt-chocolate, 40%);
$cjmt-chocolate-400: tint-color($cjmt-chocolate, 20%);
$cjmt-chocolate-500: $cjmt-chocolate;
$cjmt-chocolate-600: shade-color($cjmt-chocolate, 20%);
$cjmt-chocolate-700: shade-color($cjmt-chocolate, 40%);
$cjmt-chocolate-800: shade-color($cjmt-chocolate, 60%);
$cjmt-chocolate-900: shade-color($cjmt-chocolate, 80%);

$cjmt-cjmt-secondary-color-100: tint-color($cjmt-cjmt-secondary-color, 80%);
$cjmt-cjmt-secondary-color-200: tint-color($cjmt-cjmt-secondary-color, 60%);
$cjmt-cjmt-secondary-color-300: tint-color($cjmt-cjmt-secondary-color, 40%);
$cjmt-cjmt-secondary-color-400: tint-color($cjmt-cjmt-secondary-color, 20%);
$cjmt-cjmt-secondary-color-500: $cjmt-cjmt-secondary-color;
$cjmt-cjmt-secondary-color-600: shade-color($cjmt-cjmt-secondary-color, 20%);
$cjmt-cjmt-secondary-color-700: shade-color($cjmt-cjmt-secondary-color, 40%);
$cjmt-cjmt-secondary-color-800: shade-color($cjmt-cjmt-secondary-color, 60%);
$cjmt-cjmt-secondary-color-900: shade-color($cjmt-cjmt-secondary-color, 80%);

$cjmt-cjmt-accent-color-100: tint-color($cjmt-cjmt-accent-color, 80%);
$cjmt-cjmt-accent-color-200: tint-color($cjmt-cjmt-accent-color, 60%);
$cjmt-cjmt-accent-color-300: tint-color($cjmt-cjmt-accent-color, 40%);
$cjmt-cjmt-accent-color-400: tint-color($cjmt-cjmt-accent-color, 20%);
$cjmt-cjmt-accent-color-500: $cjmt-cjmt-accent-color;
$cjmt-cjmt-accent-color-600: shade-color($cjmt-cjmt-accent-color, 20%);
$cjmt-cjmt-accent-color-700: shade-color($cjmt-cjmt-accent-color, 40%);
$cjmt-cjmt-accent-color-800: shade-color($cjmt-cjmt-accent-color, 60%);
$cjmt-cjmt-accent-color-900: shade-color($cjmt-cjmt-accent-color, 80%);


$cjmt-cjmt-primary-color-100: tint-color($cjmt-cjmt-primary-color, 80%);
$cjmt-cjmt-primary-color-200: tint-color($cjmt-cjmt-primary-color, 60%);
$cjmt-cjmt-primary-color-300: tint-color($cjmt-cjmt-primary-color, 40%);
$cjmt-cjmt-primary-color-400: tint-color($cjmt-cjmt-primary-color, 20%);
$cjmt-cjmt-primary-color-500: $cjmt-cjmt-primary-color;
$cjmt-cjmt-primary-color-600: shade-color($cjmt-cjmt-primary-color, 20%);
$cjmt-cjmt-primary-color-700: shade-color($cjmt-cjmt-primary-color, 40%);
$cjmt-cjmt-primary-color-800: shade-color($cjmt-cjmt-primary-color, 60%);
$cjmt-cjmt-primary-color-900: shade-color($cjmt-cjmt-primary-color, 80%);

$cjmt-blues: (
  blue-100: $cjmt-blue-100,
  blue-200: $cjmt-blue-200,
  blue-300: $cjmt-blue-300,
  blue-400: $cjmt-blue-400,
  blue-500: $cjmt-blue-500,
  blue-600: $cjmt-blue-600,
  blue-700: $cjmt-blue-700,
  blue-800: $cjmt-blue-800,
  blue-900: $cjmt-blue-900
);

$cjmt-indigos: (
  indigo-100: $cjmt-indigo-100,
  indigo-200: $cjmt-indigo-200,
  indigo-300: $cjmt-indigo-300,
  indigo-400: $cjmt-indigo-400,
  indigo-500: $cjmt-indigo-500,
  indigo-600: $cjmt-indigo-600,
  indigo-700: $cjmt-indigo-700,
  indigo-800: $cjmt-indigo-800,
  indigo-900: $cjmt-indigo-900
);

$cjmt-purples: (
  purple-100: $cjmt-purple-200,
  purple-200: $cjmt-purple-100,
  purple-300: $cjmt-purple-300,
  purple-400: $cjmt-purple-400,
  purple-500: $cjmt-purple-500,
  purple-600: $cjmt-purple-600,
  purple-700: $cjmt-purple-700,
  purple-800: $cjmt-purple-800,
  purple-900: $cjmt-purple-900
);

$cjmt-pinks: (
  pink-100: $cjmt-pink-100,
  pink-200: $cjmt-pink-200,
  pink-300: $cjmt-pink-300,
  pink-400: $cjmt-pink-400,
  pink-500: $cjmt-pink-500,
  pink-600: $cjmt-pink-600,
  pink-700: $cjmt-pink-700,
  pink-800: $cjmt-pink-800,
  pink-900: $cjmt-pink-900
);

$cjmt-reds: (
  red-100: $cjmt-red-100,
  red-200: $cjmt-red-200,
  red-300: $cjmt-red-300,
  red-400: $cjmt-red-400,
  red-500: $cjmt-red-500,
  red-600: $cjmt-red-600,
  red-700: $cjmt-red-700,
  red-800: $cjmt-red-800,
  red-900: $cjmt-red-900
);

$cjmt-oranges: (
  orange-100: $cjmt-orange-100,
  orange-200: $cjmt-orange-200,
  orange-300: $cjmt-orange-300,
  orange-400: $cjmt-orange-400,
  orange-500: $cjmt-orange-500,
  orange-600: $cjmt-orange-600,
  orange-700: $cjmt-orange-700,
  orange-800: $cjmt-orange-800,
  orange-900: $cjmt-orange-900
);

$cjmt-yellows: (
  yellow-100: $cjmt-yellow-100,
  yellow-200: $cjmt-yellow-200,
  yellow-300: $cjmt-yellow-300,
  yellow-400: $cjmt-yellow-400,
  yellow-500: $cjmt-yellow-500,
  yellow-600: $cjmt-yellow-600,
  yellow-700: $cjmt-yellow-700,
  yellow-800: $cjmt-yellow-800,
  yellow-900: $cjmt-yellow-900
);

$cjmt-greens: (
  green-100: $cjmt-green-100,
  green-200: $cjmt-green-200,
  green-300: $cjmt-green-300,
  green-400: $cjmt-green-400,
  green-500: $cjmt-green-500,
  green-600: $cjmt-green-600,
  green-700: $cjmt-green-700,
  green-800: $cjmt-green-800,
  green-900: $cjmt-green-900
);

$cjmt-teals: (
  teal-100: $cjmt-teal-100,
  teal-200: $cjmt-teal-200,
  teal-300: $cjmt-teal-300,
  teal-400: $cjmt-teal-400,
  teal-500: $cjmt-teal-500,
  teal-600: $cjmt-teal-600,
  teal-700: $cjmt-teal-700,
  teal-800: $cjmt-teal-800,
  teal-900: $cjmt-teal-900
);

$cjmt-cyans: (
  cyan-100: $cjmt-cyan-100,
  cyan-200: $cjmt-cyan-200,
  cyan-300: $cjmt-cyan-300,
  cyan-400: $cjmt-cyan-400,
  cyan-500: $cjmt-cyan-500,
  cyan-600: $cjmt-cyan-600,
  cyan-700: $cjmt-cyan-700,
  cyan-800: $cjmt-cyan-800,
  cyan-900: $cjmt-cyan-900
);

$cjmt-chocolates: (
  chocolate-100: $cjmt-chocolate-100,
  chocolate-200: $cjmt-chocolate-200,
  chocolate-300: $cjmt-chocolate-300,
  chocolate-400: $cjmt-chocolate-400,
  chocolate-500: $cjmt-chocolate-500,
  chocolate-600: $cjmt-chocolate-600,
  chocolate-700: $cjmt-chocolate-700,
  chocolate-800: $cjmt-chocolate-800,
  chocolate-900: $cjmt-chocolate-900
);

$cjmt-silvers: (
  silver-100: $cjmt-silver-100,
  silver-200: $cjmt-silver-200,
  silver-300: $cjmt-silver-300,
  silver-400: $cjmt-silver-400,
  silver-500: $cjmt-silver-500,
  silver-600: $cjmt-silver-600,
  silver-700: $cjmt-silver-700,
  silver-800: $cjmt-silver-800,
  silver-900: $cjmt-silver-900
);

$cjmt-accent-colors: (
  cjmt-accent-color-100: $cjmt-accent-color-100,
  cjmt-accent-color-200: $cjmt-accent-color-200,
  cjmt-accent-color-300: $cjmt-accent-color-300,
  cjmt-accent-color-400: $cjmt-accent-color-400,
  cjmt-accent-color-500: $cjmt-accent-color-500,
  cjmt-accent-color-600: $cjmt-accent-color-600,
  cjmt-accent-color-700: $cjmt-accent-color-700,
  cjmt-accent-color-800: $cjmt-accent-color-800,
  cjmt-accent-color-900: $cjmt-accent-color-900
);


$cjmt-secondary-colors: (
  cjmt-secondary-color-100: $cjmt-secondary-color-100,
  cjmt-secondary-color-200: $cjmt-secondary-color-200,
  cjmt-secondary-color-300: $cjmt-secondary-color-300,
  cjmt-secondary-color-400: $cjmt-secondary-color-400,
  cjmt-secondary-color-500: $cjmt-secondary-color-500,
  cjmt-secondary-color-600: $cjmt-secondary-color-600,
  cjmt-secondary-color-700: $cjmt-secondary-color-700,
  cjmt-secondary-color-800: $cjmt-secondary-color-800,
  cjmt-secondary-color-900: $cjmt-secondary-color-900
);

$cjmt-primary-colors: (
  cjmt-primary-color-100: $cjmt-primary-color-100,
  cjmt-primary-color-200: $cjmt-primary-color-200,
  cjmt-primary-color-300: $cjmt-primary-color-300,
  cjmt-primary-color-400: $cjmt-primary-color-400,
  cjmt-primary-color-500: $cjmt-primary-color-500,
  cjmt-primary-color-600: $cjmt-primary-color-600,
  cjmt-primary-color-700: $cjmt-primary-color-700,
  cjmt-primary-color-800: $cjmt-primary-color-800,
  cjmt-primary-color-900: $cjmt-primary-900
);
// fusv-enable
