/* THEME */
$gradient-primary: linear-gradient(
  190deg,
  transparent,
  rgba($primary, 0.25) 3%,
  rgba($primary, 0.3) 15%,
  rgba($primary, 0.45) 27%,
  rgba($primary, 0.5) 39%,
  rgba($primary, 0.6) 45%,
  rgba($primary, 0.7) 51%,
  rgba($primary, 0.8) 63%,
  rgba($primary, 0.9) 75%,
  rgba($primary, 1) 90%
  );

$gradient-secondary: linear-gradient( $secondary, $white );
$gradient-accent: linear-gradient( 290deg, $accent, $white );
$gradient-chocolate: linear-gradient( 120deg, $chocolate, $white );

@mixin gradient-chocolate {
  background-image: $gradient-chocolate;
  background-size: cover;
  height: 100vh;
};

@mixin gradient-secondary {
  background-image: $gradient-secondary;
  background-size: cover;
};

@mixin gradient-accent {
  background-image: $gradient-accent;
  background-size: cover;
};

@mixin linear-gradient($color, $color2, $color3) {
  background-image: linear-gradient(
  290deg,
  transparent,
  rgba($white, .3) 40%,
  rgba($color3, .5) 35%
  rgba($color2, 0.4) 25%,
  rgba($color2, 0.5) 40%,
  rgba($color, 0.6) 45%,
  rgba($color, 0.7) 55%,
  rgba($color, 0.8) 65%,
  rgba($color, 0.9) 80%,
  rgba($color, 1) 90%
  );
}
