@import "typography/font-face";
@import "typography/font-stacks";
@import "typography/font-variables";

$body-text-color  : shade-color($primary-color, $active-percentage);
$text-muted-color : color-mix(srgb, $body-text-color $muted-percentage, $muted-color);

$headings-text-color : shade-color($accent-color, $title-percentage);

$site-title-color :              $primary-color;
$page-title-color :              $secondary-color;
$post-title-color :              $headings-text-color;
$footer-text-color :             $accent-color;
$quote-text-color :              shade-color($accent-color, $focus-percentage);
$lead-text-color :               shade-color($post-title-color, $muted-percentage);
$caption-text-color :            shade-color($body-text-color, $focus-percentage);
$nav-text-color :                shade-color($secondary-color, 10%);
$code-text-color :               shade-color($hot-pink, $focus-percentage);

$text-shadow: .75rem .25rem .10rem $shadow-text;
$title-shadow: .65rem .5rem .15rem $shadow-title;

@import "typography/headings-variables";
@import "typography/type-variables";
@import "typography/code";
