$lead-font                  : "Pompiere";
$lead-font-size             : $base-unit * $lg;
$lead-font-weight           : 300;
$lead-text-color            : shift-color($primary-color, $muted-percentage);

$entry-header-font-size: $font-size-lg;
