// container mixins
@mixin make-container() {
    @include    clearfix;
    @include    border-box;
    min-width: 0;
    max-width : $grid-max-width;
    margin: 0 0 auto;
    padding: 0 $offset;
    overflow: hidden;
    display: block;
}
