
.site-footer {
  position: absolute;
  right: -2;
  bottom: 1;
  left: 0;
  height: 2.25rem;
}

#site-information {
  /* Container for the entire site footer area */
  width: 100%;
  margin-left: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  z-index: $z-index-site-information;
}

.copyright {
  justify-content: end;
  align-self: end;
  margin-top: -1rem;
}

#copyright {
  font-size: 0.75vw;
  line-height: 1rem;
  color: $invalid-color;
}

.email {
  justify-content: end;
  align-self: end;
}

#email {
  font-size: 0.75vw;
  line-height: 1rem;
  color: $invalid-color;
}

.social-media {
  width: 90rem;
  margin-left: 2rem;
  align-self: center;
  color: $invalid-color;
  font-weight: bolder;
}

.contact {
  font-family: 'Hand Typewriter';
  width: auto;
  padding-right: 1.75rem;
  align-self: stretch;
  align-items: stretch;
  color: $invalid-color;
  font-weight: bolder;
}

.site-footer {
  /* Container for the entire site footer area */
  display: inline;
  align-items: center;
  align-content: center;
  height: 3rem;
  margin-bottom: 2.5rem;
  padding-right: .75rem;
  padding-left: .25rem;
}

#site-information {
  /* Container for the entire site footer area */
  width: 100%;
  margin-left: 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  z-index: $z-index-site-information;
}

.social-media {
  width: 90rem;
  align-self: baseline;
  height: 2.8rem;
  color: $attention-color;
  font-weight: bold;
  border-style: solid;
  border-width: thin;
  border-color: $pink;
}

.icons {
  width: 100%;
  max-width: 10rem;
  height: 100%;
  max-height: 2rem;
  line-height: 2rem;
  align-self: center;
  align-content: center;
  border: 2px solid $red;
}

.news-scroll {
  width: 100%;
  max-width: 75rem;
  line-height: 2rem;
  margin-left: 1rem;
  align-items: start;
  align-content: start;
  border: 2px solid $black;
}

#updates {
  font-size: $font-size-xl;
  font-weight: bolder;
  text-transform: capitalize;
  text-shadow: 0 .12rem, .12rem, .05rem $hot-pink;
}

#social-icons {
  font-family: fab
}

.copyright {
  justify-content: end;
  align-self: end;
  margin-top: -1rem;
}

#copyright {
  font-size: 0.75vw;
  line-height: 1rem;
}

.email {
  justify-content: end;
  align-self: end;
  margin-top: -.5rem;
  padding-left: 0.0;
}

#email {
  font-size: 0.75vw;
  line-height: 1rem;
}


.contact {
  display: inline-flex;
  font-family: $footer-text-font;
  width: auto;
  padding-right: .25rem;
  align-self: stretch;
  align-items: stretch;
  color: $info-color;
  font-weight: bolder;
  text-align: right;
  line-height: .5rem;
}
