*:focus {
  outline: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  width: 100%;
  height: 1rem * 1.5;
  padding: 0 divide(1rem, 2);
  color: #0A0A0A;
  border: solid 1px #0A0A0A;
  border-radius: 0;
  background-color: #FAFAFA;
}

select,
textarea {
  line-height: 1rem * 1.5;
}

button,
input {
  line-height: normal;
  *overflow: visible;
}

input[type='checkbox'],
input[type='radio'] {
  line-height: normal;
  width: auto;
  height: auto;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  padding: 0;
}

input[type='file'] {
  line-height: normal;
  height: auto;
  padding: divide(1rem, 4) divide(1rem, 2);
}

button,
html input[type="button"],
input[type='submit'] {
  border: 1px solid #ccc;
  border-color: #ccc #ccc #bbb #ccc;
  border-radius: 3px;
  background: #e6e6e6;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), inset 0 15px 17px rgba(255,255,255,0.5), inset 0 -5px 12px rgba(0,0,0,0.05);
  color: rgba(0,0,0,.8);
  cursor: pointer;
  /* Improves usability and consistency of cursor style between image-type 'input' and others */
  -webkit-appearance: button;
  /* Corrects inability to style clickable 'input' types in iOS */
  font-size: 12px;
  font-size: 1.4rem;
  line-height: 1;
  padding: 1.12em 1.5em 1em;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
}

button:hover,
html input[type="button"]:hover,
input[type="submit"]:hover {
  border-color: #ccc #bbb #aaa #bbb;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.8), inset 0 15px 17px rgba(255,255,255,0.8), inset 0 -5px 12px rgba(0,0,0,0.02);
}

button:focus,
html input[type="button"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="submit"]:active {
  border-color: #aaa #bbb #bbb #bbb;
  -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
  box-shadow: inset 0 -1px 0 rgba(255,255,255,0.5), inset 0 2px 5px rgba(0,0,0,0.15);
}

input[disabled] {
  cursor: not-allowed;
  background-color: whitesmoke;
}

select {
  line-height: normal;
  padding: 0 0 0 divide(1rem, 2);
}

textarea {
    background: rgba(255, 255, 255, 0.3);
  padding: 6px 3px;
  overflow: auto;
  min-height: 1rem * 4;
  resize: vertical;
  vertical-align: top;
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea:focus {
  background: #fff;
}
/**
 * Form utility classes
 */
.form--inline {
  .form__group {
    display: inline-block;
  }
}

.form {
  .form__group {
    display: block;
    margin-bottom: 1rem;

    .form__label {
      display: block;
      margin-bottom: divide(1rem, 2);
    }
  }
}
