/* Links */
a,
a:active,
a:link,
a:link .active {
    outline: none !important;
    font-family: $nav-text-font;
    color: $link-color;
    text-decoration: underline;

    a:focus,
    a:focus .active,
    a:hover,
    a:hover .active {
        text-decoration: underline, bold;
        color: $link-hover-color;
    }
}

a:hover,
a:hover .active {
      ext-decoration: underline, bold;
      color: $link-hover-color;
}

a:disabled,
a:focus .disabled,
a:hover .disabled {
    color: tint-color($link-color, $inactive-percentage);
    text-decoration: none;
}


a:focus {
    text-decoration: underline, bold;
    color: $link-hover-color;
}

a:visited {
  color: $link-visited-color;
}
