/* ________________________________________________ @FONTFACE (IN YOUR FACE) */

  @font-face {
    font-family: "Avdira";
    src: local("theme/properties/typography/fonts/avdira/Avdira_R.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Enjoy Writing";
    src: url("//db.onlinewebfonts.com/t/a5313a199faa43110612b9c31601538d.eot");
    src: url("//db.onlinewebfonts.com/t/a5313a199faa43110612b9c31601538d.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/a5313a199faa43110612b9c31601538d.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/a5313a199faa43110612b9c31601538d.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/a5313a199faa43110612b9c31601538d.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/a5313a199faa43110612b9c31601538d.svg#Enjoy Writing")
        format("svg");
  }


  @font-face {
      font-family: 'Euphorigenic';
      font-style: normal;
      font-weight: 400;
      src: local('Euphorigenic'), url('https://fonts.cdnfonts.com/s/8860/euphorigenic.woff') format('woff');
  }

  @font-face {
    font-family: "Glass Antiqua";
    src: url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.eot");
    src: url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/9d7b0fb304409fabceb9c59a1de12720.svg#Glass Antiqua")
        format("svg");
  }


  @font-face {
    font-family: "Hand TypeWriter";
    src: url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.eot");
    src: url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/59b5808e3dd8a15eb3774dbe8d4f686f.svg#Hand TypeWriter")
        format("svg");
  }


  @font-face {
    font-family: "Life Savers";
    src: url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.eot");
    src: url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/a0dca3ed6f9e5098522a6bab3efbce65.svg#Life Savers")
        format("svg");
  }


  @font-face {
    font-family: "Raleway";
    src: url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.eot");
    src: url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/8b452e2cb91e248f5beff9174a1327dc.svg#Raleway")
        format("svg");
  }


  @font-face {
    font-family: "Raylig";
    font-style: normal;
    font-weight: 600;
    src: local("Raylig"),
      url("https://fonts.cdnfonts.com/s/70312/RayligSemibold-Wy9mE.woff")
        format("woff");
  }

  @font-face {
    font-family: "TELETYPE 1945-1985";
    src: url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.eot");
    src: url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/83dc401685732778308fc7cdfe8af34e.svg#TELETYPE 1945-1985")
        format("svg");
  }
