/* Clearing –––––––––––––––––––––––––––––––––––––––––––––––––– */
// clearfix: http://nicolasgallagher.com/micro-clearfix-hack/

span.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif !important;
  font-style: italic;
}

.image-replacement,
.ir {
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
}

.container:after,
.row:after,
.u-cf {
  display: table;
  clear: both;
  content: '';
}

.cf,
.clear,
.clearfix {
  @include clearfix;
}
