$primary-color-:           $cyan;
$secondary-color:          $yellow;
$accent-color:             $silver;
$valid-color:                   $green;
$info-color:                    $blue;
$alert-color:                   $orange;
$invalid-color:                 $red;
$attention-color:               $pink;

$valid-color-border:            $green;
$info-color-border:             $blue;
$alert-color-border:            $orange;
$invalid-color-border:          $red;
$attention-color-border:        $pink;

$valid-color-bg:                $light-cyan;
$info-color-bg:                 $neon-blue;
$alert-color-bg:                $salomie;
$invalid-color-bg:              $wild-watermelon;
$attention-color-bg:            $pink;
