/*! _______________________________________________________ ARTICLE */
/*! _____________________________________________ VARIABLES */
$background-article: $white;
$article-border-style: inset;
$article-border-width: 1px;
$article-shadow :  inset 20px 10px 20px $gray-700,
                    inset -19px -19px 58px $gray-100,
                    inset 5px 5px 10px $gray-800,
                    inset -3.9px -3.9px 1px $gray-500,
                    inset -5px -5px 10px $gray-700,
                    inset 5px 5px 10px $gray-900;
/*! _____________________________________________ TOOLS */
/*! ___________________________________ FUNCTIONS */
/*! ___________________________________ MIXINS */
    @mixin neumorphic-article {
        background: $white;
        border-width: 1px;
        box-shadow: $article-shadow;
    }
/*! _________________________ Placement */
    @mixin article-placement {
        position: absolute;
        top: .5vh;
        right: 1.5vw;
        bottom: 1vh;
        left: 11vw;
    }
/*! _________________________ Container */
    @mixin article-container {
        @include make-container;
        margin-top: 1vh;
        margin-right: 1.5vw;
        margin-bottom: 1vh;
        maring-left: 10vw;
        padding: .25vh .25vw .25vh .25vw;
    }

    @mixin primary-container {
        margin-top: .25vh;
        margin-right: .25vw;
        margin-bottom: auto;
        margin-left: auto;
        border: 2px solid $red;
    }
/*! _________________________ Typography */


/*! _________________________ Properties */

/*! _________________________ Pattern */
/* ________________ Gradient */



/* ________________ Shadow */


/*! _____________________________________________ ELEMENTS */
/*! ___________________________________ effect html tags */

/*! _____________________________________________ OBJECTS */
/*! ___________________________________ reusable generic pieces */
/*! _____________________________________________ COMPONENTS */
/*! ___________________________________ parts of the UI */
