/*! _______________________________________________________ STRUCTURE */
/*! _____________________________________________ PLACEMENT */
    @mixin position($position) {
        position: $position;
        top:;
        right:;
        bottom:;
        left:;
        z-index:;
    }
/*! _____________________________________________ CONTAINER */

margin
padding

/*! _____________________________________________ TYPOGRAPHY */

font-family
font-size
color

/*! _____________________________________________ PROPERTIES */


/*! _____________________________________________ PATTERN */


/*! ___________________________________ GRADIENT */


/*! ___________________________________ SHADOW*/

/*! _____________________________________________ MISC */
