/*! _______________________________________________________ MAIN */
/*! _____________________________________________ PLACEMENT */
    @mixin main-static {
        margin-top: 0;
        margin-right: -.25;
        margin-bottom: 0;
        margin-left: 1vw;
        z-index: 200;
    }

/*! _____________________________________________ CONTAINER */
    @mixin main-container {
        @include make-container;
        padding-top: .5vh;
        padding-right: 1vw;
        padding-bottom: 1vh;
        padding-left: 12vw;
    }

    @mixin primary-container {
        border: 2px solid $red;
    }

/*! _____________________________________________ TYPOGRAPHY */


/*! _____________________________________________ PROPERTIES */
    @mixin main-properties {
        @include border-start-radius($border-radius-xxl);
        display: block;
        background-color: $white;
    }

/*! _____________________________________________ PATTERN */


/*! ___________________________________ GRADIENT */


/*! ___________________________________ SHADOW*/

/*! _____________________________________________ MISC */
    @mixin main-elevation {
        box-shadow: 0 1px 1px 0.5px rgba($black-rgb, 1),
                    0 6px 8px 6px rgba($gray-900-rgb, .8),
                    0 8px 10px 12px rgba($gray-200-rgb, .55);
    }
