/* scss-docs-start gray-color-variables */
$white:    #e4edf4;
$gray-100: #c0c0c0;
$gray-200: #9a9a9a;
$gray-300: #7b7b7b;
$gray-400: #626262;
$gray-500: #4e4e4e;
$gray-600: #3e3e3e;
$gray-700: #323232;
$gray-800: #282828;
$gray-900: #1a1a1a;
$black:    #000100;
/* scss-docs-end gray-color-variables */

/* scss-docs-start color-variables */
$blue:               #0A0FBA;
$indigo:             #6600FF;
$purple:             #510bda;
$pink:               #fc89ac;
$red:                #BA0A0f;
$orange:             #FD8535;
$yellow:             #ffe41e;
$green:              #82ded1;
$teal:               #b5ede4;
$cyan:               #0abab5;
$gray:               $gray-600;
