/* ____________________________________ THEME COLOR */
/* Brand Color Variables */
  $primary-color          : #0abab5;
  $secondary-color        : #ffe41e;
  $accent-color           : #a8a9ad;

  /* Utility Colors */
  $valid-color            : $light-cyan;
  $info-color             : $neon-blue;
  $alert-color            : $salomie;
  $invalid-color          : $wild-watermelon;
  $attention-color        : $hot-pink;
  $light           : $gray-100;
  $dark            : $gray-900;

    /* Input */
    $input-text-color         : $gray-500;
    $input-bg-color           : $gray-100;
    $input-border-color       : $gray-700;
    $input-text-focus-color   : $gray-800;
    $input-bg-focus-color     : $white;
    $input-border-focus-color : $gray-900;
