/* ____________________________________ THEME */
  /* Variables */
  $primary-color     : #0abab5;
  $secondary-color   : #ffe41e;
  $accent-color      : #a8a9ad;

  /* Utility Colors */
  $valid-color       : $light-cyan;
  $info-color        : $neon-blue;
  $alert-color       : $salomie;
  $invalid-color     : $wild-watermelon;
  $attention-color   : $hot-pink;

  $valid-bg-color    : $light-cyan;
  $info-bg-color     : $neon-blue;
  $alert-bg-color    : $salomie;
  $invalid-bg-color  : $wild-watermelon;
  $attention-bg-color: $hot-pink;
