/* ____________________________________ UTILITIES */
$text-muted:        rgb(98,98,98);
$text:              rgb(0,1,0);
$body:              rgb(228,237,244);
$caption:           rgb(62,62,62);
$caption-border:    rgb(26,26,26);
$light:             rgb(192,192,192);
$dark:              rgb(26,26,26);
$input-text-color            : $gray-500;
$input-bg-color              : $gray-100;
$input-border-color          : $gray-900;
$input-text-focus-color      : $gray-800;
$input-bg-focus-color        : $white;
$input-border-focus-color    : $gray-100;
