$font-size-root   : null;
$font-size-base   : 1.05rem;

$font-weight-base : $font-weight-normal;

$line-height-body : $line-height-base;

$heading-base-unit: 1.25vh;

$quotation        : obalique;
$citation         : italic;
$link             : underline;

$body-text-align         : null;
$text-margin-bottom      : $offset;
$paragraph-margin-bottom:   1rem !default;
