$hr-margin-y                : $offset;
$hr-color                   : inherit;
$hr-height                  : $base-unit * 2;
$hr-opacity                 : 0.25;
$hr-border-color            : $hot-pink;
$hr-border-width            : $base-width;
