@use "properties/bases/base-offset";

@import "variables/body";

/* ______________________________________________________ TEXT SHADOW */
$shadow-text             : darken($body-text-color,$active-percentage);
$shadow-title            : darken($primary-color, $active-percentage);

$text-shadow             : .75rem .25rem .10rem $shadow-text;
$title-soffset           : .65rem .5rem .15rem $shadow-title;


p {
  margin-bottom: $offset;
}

// Text Styles
em { font-style: italic; }
strong { font-weight: bold; }
.uppercase { text-transform: uppercase; }





//
// Horizontal rules
//

hr {
  margin-top: $offset-sm;
  margin-bottom: $offset-sm;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
  border-bottom: $hr-border-width solid $hr-border-color;
  border-left: none;
  border-right: none;
}





// Horizontal description lists w/ grid classes
.dl-horizontal {
  margin-right: -$grid-gutter;
  margin-left: -$grid-gutter;
  @include clearfix;
}


//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
