/* CHANGEpercentage _________________________________________________________

Theme/Brand Name: CJMT
Author: CJMT

Stylesheet: CJMT Brand Stylesheet

  = TOC =
  [] Color Palette
    (1) Color Variables
    (2) Brand Colors
    (3) Utilities Colors
  [] Properties
  [] Utilities

_________________________________________________________ CHANGEpercentage */


$active-text-shade-percentage       : 20%;
$active-bg-tint-color-percentage    : 40%;
$active-border-shade-border         : 35%;
$active-hover-change-percentage     : 15%;

$disabled-text-shade-percentage     : 40%;
$disabled-bg-tint-percentage        : 50%;
$disabled-border-shade-border       : 45%;

$link-shade-percentage              : 10%;
$link-hover-shade-percentage        : 15%;
$link-visited-shade-percentage:     : 40%;

$background-tint-percentage         : 15%;
$muted-tint-percentage              : 20%;
$hover-shade-percentage             : 20%;
$focus-shade-percentage             : 35%;

$btn-disabled-opacity               : .45;

$input-btn-focus-color-opacity      : .25;

$btn-disabled-opacity               : .65;
$btn-hover-bg-shade-percentage      : 15%;
$btn-hover-bg-tint-percentage       : 20%;
$btn-hover-border-shade-percentage  : 35%;
$btn-hover-border-tint-percentage   : 40%;
$btn-active-bg-shade-percentage     : 45%;
$btn-active-bg-tint-percentage      : 50%;
$btn-active-border-shade-percentage : 60%;
$btn-active-border-tint-percentage  : 65%;

/* _________________________________________________ Utilities */
/* Link Utilities */
$link-text-hover-color              : shift-color($link-text-color, $link-shade-percentage) !default;

$link-text-visited-color: shade-color($link-text-color, $link-visited-shade-percentage);
$link-text-visited-hover: tint-color($link-text-visited, $link-shade-percentage);

/* ______________________________________________________ Link */


/* ____________________________________________ Buttons + Form */
$btn-focus-color                    : rgba($active-bg-color, $input-btn-focus-color-opacity);
$input-focus-border-color           : tint-color($active-bg-color, $focus-change-percentage);

$input-disabled-bg-color           : tint-color($disabled-text-color, $disabled-bg-tint-percentage);
$input-disabled-border-color:       shade($input-disabled-texgt-color, $disabled-border-shade-border);


$list-group-bg-color:       tint-color($list-group-text-color, $background-tint-percentage);
$list-group-hover-bg:       shift-color($list-group-bg-color, $hover-shade-percentage);
$list-group-active-bg-color: shift-color($list-group-text-color, $active-hover-change-percentage);

$list-group-disabled-bg-color: $disabled-border-color;
