
$link-hover                  : shade-color($link-color, $hover-percentage);
$gradient-tabs-bg                : linear-gradient(320deg, transparent, rgba($white, .10) 20%, rgba($accent-color, .20) 35%, rgba($accent-color, .30) 50%, rgba($accent-color, .40) 65%);

$tabs-border-color             : shade-color($link-color, $border-percentage);
$tabs-bg-color                 : $gradient-tabs-bg;

$tabs-hover-border               : shade-color($border-color, $hover-percentage);

   // Navbar
   $navbar-dark-text              : mix-color($accent-color $active-percentage, $link-color);
   $navbar-dark-text                : $accent-color;
   $navbar-dark-hover               : shift-color($navbar-dark-text, $hover-percentage);
   $navbar-dark-inactive-text       : color-mix(srgb $navbar-dark-text $inactive-percentage, $inactive-link);
   $navbar-dark-toggler-border      :     $navbar-dark-text;

   $navbar-light-text               : $primary-color;
   $navbar-light-hover              : shift-color($navbar-light-text, $hover-percentage);
   $navbar-light-inactive-text      : color-mix(srgb $navbar-light-text $inactive-percentage, $inactive-link);
   $navbar-light-toggler-border     :     $navbar-dark-text;
