$offset                        : $base-offset; /* 16 px */
$offset-x                      : calc($offset * divide($xs, 3));
$offset-y                      : divide($offset, $xs);
$offset-y-lg                   : divide($offset, $md);
$offset-x-lg                   : calc($offset * divide($sm, 2));

$offset-xs                     : calc($offset * $xs);
$offset-sm                     : calc($offset * $sm);
$offset-md                     : calc($offset * $md);
$offset-lg                     : calc($offset * $lg);
$offset-xl                     : calc($offset * $xxl);
$offset-xxl                    : calc($offset * $xxl);
