/**
 * ## Z-Index
 =========================*/
$z-index-html: 50;

$z-index-body: 75;
$z-index-page: 100;
$z-index-main: 300;
$z-index-main-container: 325;
$z-index-primary-container: 350;
$z-index-article: 400;
$z-index-content: 425;
$z-index-post-title: 450;
$z-index-byline: 460;
$z-index-meta: 475;

$z-index-pagination: 500;

$z-index-footer: 700;
$z-index-site-footer: 715;
$z-index-scrawl: 725;
$z-index-site-information:750;
$z-index-copyright: 775;
$z-index-email: 780;

$z-index-page-title: 800;

$z-index-header: 900;
$z-index-site-header: 925;
$z-index-masthead: 950;
$z-index-nameplate: 975;

$z-index-site-description: 1200;
$z-index-site-title: 1215;

$z-index-nav: 900;
$z-index-main-navigation: 950;

$z-index-dropdown: 1200;
$z-index-sticky: 1220;
$z-index-fixed: 1230;
$z-index-offcanvas-backdrop: 1240;
$z-index-offcanvas: 1245;
$z-index-modal-backdrop: 1250;
$z-index-modal: 1255;
$z-index-popover: 1270;
$z-index-tooltip: 1280;
