$primary-color      : $cyan;
$secondary-color    : $yellow;
$accent-color       : $silver;
$success-color      : $light-cyan;
$warning-color      : $salomie;
$invalid-color      : $wild-watermelon;
$alert-color        : $hot-pink;
$info-color         : $neon-blue;
$light              : $gray-100;
$dark               : $gray-900;

$theme-color        : (
primary-color       : $primary-color,
secondary-color     : $secondary-color,
accent-color        : $accent-color,
valid-color       : $valid-color,
alert-color       : $alert-color,
attention-color     : $attention-color,
invalid-color       : $invalid-color,
info-color          : $info-color,
light               : $light,
dark                : $dark
);

$theme-colors-rgb         : (
primary-color-rgb   : $primary-color-rgb,
secondary-color-rgb : $secondary-color-rgb,
accent-color-rgb    : $accent-color-rgb
);
