.background,
.background .fade,
.background .show {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transform: scale(1.25);
  filter: sepia(50%) blur(2px);
  @include overlay-backdrop($zindex:301, $backdrop-bg: transparent, $backdrop-opacity: .60)
}
