/* __________________________________________ COLOR PALETTE */

/* scss-docs-start gray-color-variables */
$white                       : #FAFAFA !default;
$gray-100                    : #F5F5F5 !default;
$gray-200                    : #EDEDED !default;
$gray-300                    : #DBDBDB !default;
$gray-400                    : #B5B5B5 !default;
$gray-500                    : #7A7A7A !default;
$gray-600                    : #4A4A4A !default;
$gray-700                    : #363636 !default;
$gray-800                    : #242424 !default;
$gray-900                    : #121212 !default;
$black                       : #0A0A0A !default;
/* scss-docs-end gray-color-variables */


/* scss-docs-start color-variables */
$blue                        : #485FC7 !default;
$indigo                      : #6610f2 !default;
$purple                      : #B86BFF !default;
$pink                        : #d63384 !default;
$red                         : #F14668 !default;
$orange                      : #FF470F !default;
$yellow                      : #FFE08A !default;
$green                       : #48C78E !default;
$teal                        : #00D1B2 !default;
$cyan                        : #3E8ED0 !default;
$gray                        : $gray-600 !default;
/* scss-docs-end color-variables */


/* Theme Colors */
/* scss-docs-start theme-color-variables */
$primary-color               : $cyan !default;
$secondary-color             : $yellow !default;
$accent-color                : $silver !default;
$valid-color                 : $green;
$info-color                  : $blue;
$alert-color                 : $orange;
$invalid-color               : $red;
$attention-color             : $pink;
$light-gray                  : $gray-100 !default;
$dark-gray                   : $gray-900 !default;

/* ___________________________________________________ Contrast */
/* Customize the light and dark text colors for use in our color contrast function. */
$dark-contrast               : $black;
$light-contrast              : $white;

/* ______________________________________________________ Body */
$body-text-color             : $gray-700 !default;
$body-bg-color               : lighten($primary-color, $background-tint-percentage);
$text-muted-color            : shift-color($body-text-color, $muted-change-percentage);

$headings-text-color         : $gray-800;
$blockquote-text-footer-color: $gray-600;
/* _________________________________________________ Utilities */
/* Utilities */
$active-text-color           : $secondary-color;
$active-bg-color             : tint-color($active-text-color, $active-bg-tint-percentage);
$active-border-color         : shade($active-text-color, $active-border-shade-border);

$active-text-hover-color            : shift-color($active-text-color, $active-hover-change-percentage);
$active-border-hover-color          : shift-color($active-border-color, $active-hover-change-percentage);
$active-bg-hover-color              : shift-color($active-bg-color, $active-hover-change-percentage);

$disabled-text-color         : $gray-600;
$disabled-bg-color           : tint-color($disabled-text-color, $disabled-bg-tint-percentage);
$disabled-border-color       : shade($disabled-text-color, $disabled-border-shade-border);


/* ________________________________________________ Components */
/* Define common padding and border radius sizes and more.*/
/* scss-docs-start border-variables*/
$shadow-color                : $gray-800;
$shadow-button-color         : $white;


/* ______________________________________________________ Link */
$link-text-color:  $primary-color;

/* ____________________________________________ Buttons + Form */
$btn-focus-color             : rgba($active-bg-color, $input-btn-focus-color-opacity);

$input-text-color            : $gray-900;
$input-border-color          : $input-text-color;

$form-switch-text-color      : rgba($black, .25);

/* __________________________________________________ Lists */

$list-group-text-color       : $gray-900;
$list-group-bg-color         : tint-color($list-group-text-color, $background-tint-percentage);
$list-group-border-color     : shade-color($list-group-text-color;,
