/* FONT STACKS ______ */
/* Enable keyword, short hand for calling font Stack. */
$font-sans-serif: Euphorigenic, "Hand Typewriter", "Enjoy Writing", Avdira, "TELETYPE 1945-1985", Raylig, "Life Savers",  "Glass Antiqua", sans-serif;
$font-serif: "Georgia", Cambria, Times New Roman, Times, serif;
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
