// scss-docs-start font-sizes
$heading-font-sizes           : (
  h1                          : $heading-base-unit * 5,
  h2                          : $heading-base-unit * 4.5,
  h3                          : $heading-base-unit * 4,
  h4                          : $heading-base-unit * 3.5,
  h5                          : $heading-base-unit * 3,
  h6                          : $heading-base-unit * 2.5
);
// scss-docs-end font-sizes

// scss-docs-start headings-variables
$headings-margin              : $base-unit * 0.5;
$headings-font-family         : $article-font;
$headings-font-style          : null;
$headings-font-weight         : 600;
$headings-line-height         : $lg;
$headings-margin-bottom       : $md;
$headings-color: shade($accent, $title-percentage);
// scss-docs-end headings-variables

// scss-docs-start display-headings
$display-font-sizes           : (
  1                           : 5rem,
  2                           : 4.5rem,
  3                           : 4rem,
  4                           : 3.5rem,
  5                           : 3rem,
  6                           : 2.5rem
);

$display-weight               : 300;
$display-line-height          : $headings-line-height;
// scss-docs-end display-headings
