// scss-docs-start type-variables
$lead-font                  : "Pompiere";
$lead-font-size             : $base-unit * $lg;
$lead-font-weight           : 300;
$lead-text            : shift($post-title, $muted-percentage);

$small-font-size            : sm;

$sub-sup-font-size          : xs;

$initialism-font-size       : sm;

$blockquote-font-family     : $emphasis-text-font;
$blockquote-margin-y        : $offset-y;
$blockquote-font-size       : $font-size-base * 2.25;
$blockquote-text-footer          : $accent;
$blockquote-footer-font-size: md;
$blockquote-border    : shade(
  $blockquote-text-footer,
  $border-percentage
);

$hr-margin-y                : $offset;
$hr                   : shade($pink, $text-percentage);
$hr-height                  : $base-unit * 2;
$hr-opacity:                  .25;
$hr-border            : shade($pink, $border-percentage);
$hr-border-width            : $border-width-md;

$legend-margin-bottom       : 0.5rem;
$legend-font-size           : xl;
$legend-font-weight         : null;

$mark-padding               : 0.2rem;

$dt-font-weight             : $font-weight-bold;

$nested-kbd-font-weight     : $font-weight-bold;

$list-inline-padding        : 0.5rem;

$mark-bg                    : $gray-300;

$figure-caption-font-size:          $small-font-size;

// scss-docs-end type-variables
