@import "variables";

/* Grid containers */
/* Define the maximum width of `.container` for different screen sizes. */
$container-max-widths: (
sm: 540px,
md: 720px,
lg: 960px,
xl: 1199px,
xxl: 1368px
);

/* Grid breakpoints */
/* Define the minimum dimensions at which your layout will change, adapting to different screen sizes, for use in media queries. */
$grid-breakpoints: (
xs: 0,
sm: 542px,
md: 736px,
lg: 960px,
xl: 1168px,
xxl: 1368px
);

$breakpoint-xs: 0;
$breakpoint-sm: 542px;
$breakpoint-md: 736px;
$breakpoint-lg: 960px;
$breakpoint-xl: 1168px;
$breakpoint-xxl: 1368px;

$breakpoints: (
    'xxl' '(min-width: ' + ($breakpoint-xl + 1) + ') and (max-width: ' + $breakpoint-xxl + ')',
    'xl' '(min-width: ' + ($breakpoint-lg + 1) + ') and (max-width: ' + $breakpoint-xl + ')',
    'lg' '(min-width: ' + ($breakpoint-md + 1) + ') and (max-width: ' + $breakpoint-lg + ')',
    'md' '(min-width: ' + ($breakpoint-sm + 1) + ') and (max-width: ' + $breakpoint-md + ')',
    'sm' '(min-width: ' + ($breakpoint-xs + 1) + ') and (max-width:'  + $breakpoint-sm + ')',
    'xs' '(max-width: ' + $breakpoint-xs + ')'
);

$size                       : nth($grid-breakpoints, 1);
$name                       : nth($grid-breakpoints, 1);
$declaration                : nth($breakpoints, 2);

$container-xxl-content-max-width: $breakpoint-xxl - $container-offset;
$container-xl-content-max-width: $breakpoint-xl - $container-offset;
$container-lg-content-max-width: $breakpoint-lg - $container-offset;
$container-md-content-max-width: $breakpoint-md - $container-offset;
$container-sm-content-max-width: $breakpoint-sm - $container-offset;
