$background-tint-percentage:                15%;

$hover-change-percentage:                   20%;
$focus-change-percentage:                   35%;

$disabled-hover-shade-percentage:           10%;

$link-active-hover-shade-percentage:        40%;
$link-active-hover-bg-shade-percentage:     25%;

$muted-change-percentage:                   20%;

$btn-disabled-opacity:                      .65 !default;

$btn-hover-bg-shade-amount:                 15% !default;
$btn-hover-bg-tint-amount:                  15% !default;
$btn-hover-border-shade-amount:             20% !default;
$btn-hover-border-tint-amount:              10% !default;
$btn-active-bg-shade-amount:                20% !default;
$btn-active-bg-tint-amount:                 20% !default;
$btn-active-border-shade-amount:            25% !default;
$btn-active-border-tint-amount:             10% !default;
