/* Alignment - WordPress uses these classes to align images and other elements inside the editor. */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 1.5em auto;
}

.fixed-header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;
  bottom: 0;
}

.fixed-footer {
  position: fixed;
  z-index: $z-index-footer;
  right: 2rem;
  bottom: 1rem;
  left: 8rem;
}

.absolute-masthead {
  position: absolute;
  top: -.5rem;
  right: auto;
  bottom: -.5rem;
  left: 4.5rem;
  z-index: $z-index-masthead;
}

.absolute-main {
  position: absolute;
  top: 1rem;
  right: 0rem;
  bottom: 1rem;
  left: 2rem;
  z-index: $z-index-main;
}
