@mixin hue-rotate{
  @keyframes hue-rotate {
    from {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    to {
      -webkit-filter: hue-rotate(277deg);
      -moz-filter: hue-rotate(277deg);
      -ms-filter: hue-rotate(277deg);
      filter: hue-rotate(277deg);
    }
  }
}

@mixin html-gradient($html-gradient) {
    background-image: $html-gradient;
    height:100vh;
    background-size:cover;
    background-blend-mode: hard-light;
    animation: hue-rotate 3s linear infinite;
    @include hue-rotate;
  }
