/* ____________________________________ BORDERS */
  $base-width                    : 1px !default;
  $base-radius                   : .95rem !default;
  $border-color: tint($accent, $border-percentage);

	/* Border Width */
	$base-widths: (
	 1: 1px,
	 2: 2px,
	 3: 3px,
	 4: 4px,
	 5: 5px
	);

	$base-width-xs: 1px * $xs;
	$base-width-sm: 2px * $sm; /* 1.75 */
	$base-width-md: 3px * $md;
	$base-width-lg: 4px * $lg;
	$base-width-xl: 5px * $xl;
	$base-width-focus: $base-width-lg;

	/* Border Radius */
	$border-radius-sm:      $base-radius * $sm;
	$border-radius-md:      $base-radius * $md;
	$border-radius-lg:      $base-radius * $lg;
	$border-radius-xl:      $base-radius * $xl;
	$border-radius-xxl:     $base-radius * $xxl;
	$border-radius-pill:    50rem;

	$thumbnail-radius:      $base-radius * divide($md, 2);
	$card-border-radius-inner: $border-radius-sm;
	$border-radius    :     $base-radius;
