/* THEMEproperties __________________________________________________________
Site Name                     : CJMT
Author                        : CJ Montes-Termini

Stylesheet                    : THEME Properties

	= TOC =
 __________________________________________________________ themePROPERTIES */

/* ______________________________________________ BASE */
 $base :            1.15;
     $xs: $base * .75;
     $sm: $base * .875;
     $md: $base * 1.05;
     $lg: $base * 1.25;
     $xl: $base * 1.50; /* 1.7525 = 26-29px */
     $xxl: $base * 1.75; /* 2.5875 = 40-42px */


     /* Map */
     $sizes                       : (
       'xs'                       : $xs,
       'sm'                       : $sm,
       'md'                       : $md,
       'lg'                       : $lg,
       'xl'                       : $xl,
       'xxl'                      : $xxl
     );

/* ______________________________________________ SPACING */
 $spacer :          1rem;
     $spacers: (
       0: 0,
       1: $spacer * .25,
       2: $spacer * .5,
       3: $spacer,
       4: $spacer * 1.5,
       5: $spacer * 3,
     );

     $negative-spacers: negativify-map($spacer);

     $spacer-x: $spacer;
     $spacer-y: $spacer;

     $spacer-xs: $base * .75;
     $spacer-sm: $base * .875;
     $spacer-md: $base * 1.05;
     $spacer-lg: $base * 1.25;
     $spacer-xl: $base * 1.50;
     $spacer-xxl: $base * 2.50;

 $block-spacing :   1.5rem;

/* ______________________________________________ PADDING*/
 $base-offset :     16px;                        /* 32 px */
     $offset: $base-offset * 2;
     $offset-x                      : calc($offset * divide($xs, 3));
     $offset-y                      : divide($offset, $xs);
     $offset-y-lg                   : divide($offset, $md);
     $offset-x-lg                   : calc($offset * divide($sm, 2));

     $offset-xs                     : calc($offset * $xs);
     $offset-sm                     : calc($offset * $sm);
     $offset-md                     : calc($offset * $md);
     $offset-lg                     : calc($offset * $lg);
     $offset-xl                     : calc($offset * $xxl);
     $offset-xxl                    : calc($offset * $xxl);

/* ______________________________________________ BORDERS */
 $base-width :      1px;
 $base-radius :     .94rem;
 @import "properties/borders";


/* ______________________________________________ OPTIONS */

 $enable-caret:                true;
 $enable-rounded:              true;
 $enable-shadows:              true;
 $enable-gradients:            true;
 $enable-transitions:          true;
 $enable-reduced-motion:       true;
 $enable-smooth-scroll:        true;
 $enable-grid-classes:         true;
 $enable-container-classes:    true;
 $enable-cssgrid:              true;
 $enable-button-pointers:      true;
 $enable-rfs:                  true;
 $enable-validation-icons:     true;
 $enable-negative-margins:     true;
 $enable-deprecation-messages: true;
 $enable-important-utilities:  true;

/* ______________________________________________ VARIABLE PREFIX */

 $variable-prefix:             ca-;

/* ______________________________________________ SVG CHARACTERS */
 $escaped-characters: (
   ("<", "%3c"),
   (">", "%3e"),
   ("#", "%23"),
   ("(", "%28"),
   (")", "%29"),
 );

/* ______________________________________________ ASPECT RATIOS */
 $aspect-ratios: (
    '1x1': 100%,
    '4x3': calc(3 / 4 * 100%),
    '16x9': calc(9 / 16 * 100%),
    '21x9': calc(9 / 21 * 100%)
 );

/* ______________________________________________ POSITION VALUES */
 $position-values: (
    0: 0,
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%
 );

/* ______________________________________________ ANIMATION */
   $animation-speed: 250ms;
   $animation: ease-in-out;
   $base-transition : all .2s ease-in-out;

/* ______________________________________________ LINK */
    $link-decoration              : bold;
    $link-hover-decoration         : underline bold;
    $link-visited-decoration      : underline;
    $stretched-link-pseudo-element: after;
    $stretched-link-z-index       : 1;

    $nav-link-padding-x            : $offset-x;
    $nav-link-padding-y            : $offset-y;

/* ______________________________________________ THUMBNAILS */
    $thumbnail-padding:                 .25rem;
    $thumbnail-border-width:            $base-width;
    $thumbnail-border-radius:           $border-radius-md;

/* ______________________________________________ Z-INDEX */
 $z-index-page: 100;
 $z-index-sidebar: 325;
 $z-index-article: 400;
 $z-index-decorative-blue-ribbon: 440;
 $z-index-nav: 450;
 $z-index-header: 500;
 $z-index-masthead: 515;
 $z-index-site-header: 525;
 $z-index-description: 550;
 $z-index-author-name: 570;
 $z-index-site-name: 575;
 $z-index-main-navigation: 600;
 $z-index-footer: 700;
 $z-index-site-information: 800;

 $z-index-html-body: 850;
 $z-index-main: 725;
 $z-index-page: 850;

 $z-index-nav-tabs: 900;

 $z-index-dropdown: 1000;
 $z-index-sticky: 1020;
 $z-index-fixed: 1030;
 $z-index-offcanvas-backdrop: 1040;
 $z-index-offcanvas: 1045;
 $z-index-modal-backdrop: 1050;
 $z-index-modal: 1055;
 $z-index-popover: 1070;
 $z-index-tooltip: 1080;
