/* CJMTheme _________________________________________________________

  Theme                          : CJMT - Creativity Architect Default
  Author                         : CJMT

  Stylesheet                     : Default Theme

  = TOC =
   ()
   ()
   ()

_________________________________________________________ CJMTheme */

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret                    : true;
$enable-rounded                  : true;
$enable-shadows                  : true;
$enable-gradients                : true;
$enable-transitions              : true;
$enable-reduced-motion           : true;
$enable-smooth-scroll            : true;
$enable-grid-classes             : true;
$enable-container-classes        : true;
$enable-cssgrid                  : true;
$enable-button-pointers          : true;
$enable-rfs                      : true;
$enable-validation-icons         : true;
$enable-negative-margins         : true;
$enable-deprecation-messages     : true;
$enable-important-utilities      : true;

// Prefix for                    :root CSS variables

$variable-prefix                 : ca-;

/* ________________________ PROPERTIES CONTROLED BY DEFAULT*/
/* Contrast */
/* The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7. */
/* See https                     ://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast */
$min-contrast-ratio              : 4.5;

$dark-contrast                   : $dark;
$light-contrast                  : $light;

/* Customize the light and dark text colors for use in our color contrast function. */
$color-contrast-dark             : $dark-contrast;
$color-contrast-light            : $light-contrast;

/* _____________________________________ SPACING */
  /* Base Number */
  $base-number                   : 1;
    /* Map */
    $base-numbers                : (
      0                          : 0,
      1                          : $base-number * .25,
      2                          : $base-number * .5,
      3                          : $base-number,
      4                          : $base-number * 1.5,
      5                          : $base-number * 3
      );

  $negative-numbers              : negativify-map($base-number);

  $vertical-base                 : 1vh;
  $horizontal-base               : 1vw;

  /* Base Size */
  $base-size                     : 1.05;
    $xs                          : $base-size * .75; // .86 14px 10.5pt
    $sm                          : $base-size * .875; // 1.0 16px 12pt medium
    $md                          : $base-size * 1.05; // 1.20 19px 14pt
    $lg                          : $base-size * 1.25; // 1.44 23px 17pt
    $xl                          : $base-size * 1.50; // 1.73 26-29px 20-22pt
    $xxl                         : $base-size * 1.75; // 2.01 32px 24pt

    /* Map */
    $sizes                       : (
      'xs'                       : $xs,
      'sm'                       : $sm,
      'md'                       : $md,
      'lg'                       : $lg,
      'xl'                       : $xl,
      'xxl'                      : $xxl
    );

  /* Base Offset */


  /* Block Spacing */
  $block-spacing                 : 1.5rem;

/* _____________________________________ POSITIONING */
    /* Position Values Map */
    $position-values             : (
      0                          : 0,
      25                         : 25%,
      50                         : 50%,
      75                         : 75%,
      100                        : 100%
    );

    /* Aspect Ratios Map */
    $aspect-ratios               : (
      '1x1'                      : 100%,
      '4x3'                      : calc(3 / 4 * 100%),
      '16x9'                     : calc(9 / 16 * 100%),
      '21x9'                     : calc(9 / 21 * 100%)
    );

/* _____________________________________ PADDING */
    $base-offset                     : 16px;
    $horizontal-offset-px            : 16px; // 1vh = 8px;
    $horizontal-offset               : 2vh;
    $vertical-offset                 : 2.75vw;
    $vertical-offset-px              : 16px; // 1vw = 6px;

  @import "themesheets/abstracts/materials/padding";

/* _____________________________________ GRID */
  $grid-columns                  : 16;
  $grid-row-columns              : 16;
  $grid-gutter                   : 16px;

/* ____________________________________ BORDERS */
  $base-width                    : 1px;
  $base-radius                   : .95rem;
  @import "themesheets/abstracts/materials/borders";

/* ____________________________________ ANIMATION */
  $animation-speed: 250ms;
  $animation: ease-in-out;

/* _____________________________________ LINK */
  $disabled-text                 : color-mix(srgb, $secondary-color $disabled-percentage, $disabled-color);

  $link-text-color               : $active-color;
  $link-hover-color              : shift-color($link-text-color, $hover-percentage);
  $link-hover-decoration         : underline, bold;
  $link-focus-color              : tint-color($link-text-color, $focus-percentage);
  $link-visited-color            : shade-color($link-text-color, $visited-percentage);
  $link-visited-hover-color      : shade-color($link-text-color, $visited-percentage);

  @import "themesheets/abstracts/materials/links";



  $nav-link-hover                : shade-color($nav-link-color, $hover-percentage);
  $gradient-tabs-bg              : linear-gradient(320deg, transparent, rgba($white, .10) 20%, rgba($accent-color, .20) 35%, rgba($accent-color, .30) 50%, rgba($accent-color, .40) 65%);

  $tabs-hover-border             : shade-color($border-color, $hover-percentage);

  $navbar-dark-hover             : shift-color($navbar-dark-text, $hover-percentage);
  $navbar-dark-disabled-text     : color-mix(srgb $navbar-dark-text $disabled-percentage, $disabled-color);
  $navbar-dark-toggler-border    : $navbar-dark-text;

  $navbar-light-hover            : shift-color($navbar-light-text, $hover-percentage);
  $navbar-light-disabled-text    : color-mix(srgb $navbar-light-text $disabled-percentage, $disabled-color);
  $navbar-light-toggler-border   : $navbar-dark-text;



/* ____________________________________________ Buttons + Form */

$input-text-color                : shade-color($primary-color, 50%);
$input-bg-color                  : tint-color($primary-color, 35%);
$input-border-color              : shade-color($primary-color, $border-percentage);

$input-disabled-bg-color         : color-mix($input-text-color $disabled-percentage, $disabled-color);
$input-disabled-border-color     : color-mix($input-text-color $disabled-percentage, $disabled-color);

$input-text-focus-color          : shade-color($input-text-color, $focus-percentage);
$input-focus-bg-color            : shade-color($input-bg-color, $focus-percentage);
$input-focus-border-color        : shade-color($input-border-color, $focus-percentage);

$input-placeholder-text-color    : tint-color($input-text-color, $muted-percentage);
$input-plaintext-text-color      : tint-color($primary-color, $muted-percentage);

$form-file-button-hover-bg-color : shade-color($input-bg-color, $hover-percentage);

$input-group-bg-color            : tint-color($accent-color, $background-percentage);
$form-switch-text-color          : $input-bg-color;

/* __________________________________________________ Lists */

$list-group-text-color           : $gray-900;
$list-group-bg-color             : tint-color($list-group-text-color, $background-percentage);
$list-group-border-color         : shade-color($list-group-text-color, $border-percentage);
$list-group-hover-bg             : shift-color($list-group-bg-color, $hover-percentage);
$list-group-bg-color             : shift-color($list-group-text-color, $hover-percentage);
$list-group-disabled-bg-color    : color-mix($list-group-bg-color $disabled-percentage, $disabled-color);
