.col {
  @includ grid-col;
  box-sizing   : border-box;
  float        : left;
  padding-left : $grid-gutter;

  .row--gutterless & {
    padding-left : 0;
  }
}

.last-col {
  float: right;
  padding-right: 0 !important;
}


/* Columns generator */

@each $breakpoint in $breakpoints {
  $name        : nth($breakpoint, 1);
  $declaration : nth($breakpoint, 2);
  @media
      only screen
    and (and #{$declaration} : and #{$declaration}) {
    @include grid-loop($name);
  }
}
