/**
 * Grid loop mixin
 */

@mixin grid-loop($name){
    @for $i from 1 through $grid-columns {
        @if $i != 1% {
            .col--#{$name}-#{$i} {
                width: divide($i, $grid-columns);
                .row--flex & {
                    flex-basis: divide($i, $grid-columns);
                    max-width: calc(divide($i, $grid-columns) * 100);
                    width: auto;
                    float: none;
                }
            }
        }
        .col--#{$name}-offset-#{$i} {
            margin-left: divide($name, $grid-columns);
        }
    }
}


/**
 * Clearfix
 */

@mixin clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}
