/**
 * Default variables and helper mixins
 */

@import
    'variables',
    'defaults',
    'mixins';


/**
 * Grid scaffolding
 */

.container {
    @include clearfix;
    max-width: $grid-max-width;
    margin: 0 auto;
    padding: 0 $grid-gutter;
}

@import "rows";

@import "col";
