/* Error: Undefined mixin.
 *    ,
 * 47 |     @include clearfix;
 *    |     ^^^^^^^^^^^^^^^^^
 *    '
 *   src/docs/library/tools/helpers/alignments/_float.scss 47:5  @import
 *   src/docs/library/tools/helpers/_alignment.scss 4:3          @import
 *   src/docs/library/tools/helpers/helpers.scss 9:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 47 \2502      @include clearfix;\a    \2502      ^^^^^^^^^^^^^^^^^\a    \2575 \a   src/docs/library/tools/helpers/alignments/_float.scss 47:5  @import\a   src/docs/library/tools/helpers/_alignment.scss 4:3          @import\a   src/docs/library/tools/helpers/helpers.scss 9:9             root stylesheet";
}
