/*------------------------------------------------------------------
[Blog styles]
-------------------------------------------------------------------*/

.post-data {
	display: flex;
	flex-wrap: wrap;
	> div {
		margin-right: 15px;
		font-size: 14px;
	}
}
