// logo

.logo {
  position: absolute;
  top: 0;
  left:  0;

  z-index: 600;
  overflow: visible;

  .logo-img {
    filter: grayscale(25%);
    border-radius: 50%;
    opacity: .5;
    outline: 2px solid black;
  }
}

.custom-logo {
	display: block;
	width: 120px;
}

.custom-logo .custom-logo-link {
	display: block;
}

.custom-logo .site-identity {
    display: none;
}

.slider-logo,
.site-header-logo {
	margin: 21px 0;
    max-width: 270px;
}
