/* =Site Header
----------------------------------------------- */

/* Style elements inside of the .site-header container */

.site-header {
  /* Container for site title and description */
  display: inline;
  height: 3.5rem;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-content: start;
  align-items: start;
  align-self: auto;
  z-index: $z-index-header;
  background-image: $gradient-primary;

  @include elevation(5);
  @include gradient-accent;
}

/* Style elements inside of the .site-header container */
.nameplate,
.site-header hgroup { /* Container for site title and description */
  margin-left: 12rem;
  width: 100%;
  max-width: 40vw;
  border: 2px solid $red;

  transition: all ease-in-out 0.5s;

  justify-content: flex-start;
  align-content: flex-start;
  display: inline-block;
}

.site-title,
.site-title a {
  writing-mode: vertical-rl;
  rotate: 180deg;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $chocolate;
  filter: drop-shadow(30px 20px 1px rgba($chocolate, 0.432));
  filter: drop-shadow(20px 10px 1px rgba($primary, 0.765));
  filter: drop-shadow(10px 5px 1px rgba($chocolate, 1));
}

.site-description {
  /* This is the tagline */
  margin-left: 8rem;
  margin-right: 0;
  width: 30rem;
}

.blur-leftside {
  position: fixed;
  top: 0;
  right: 95vw;
  bottom: 0;
  left: 1vw;

  width: 2vw;
  filter: blur(15px);
  @include elevation(10);
  @include gradient-chocolate;
}

.site-branding {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0px auto 0px 0;
	max-width: 100%;
	min-width: 0;
	text-align: left;
	overflow: hidden;
	max-width: 80%;
	width: auto;
}
