//
// Social
//

// Styling for the social icons
.social-icons {
    position: relative;
    top: 25vh;
    height: 100%;
    max-height: 3rem;
    width: 100%;
    max-width: auto;
    z-index: 9999;

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 5rem;
        width: 5rem;
        border-radius: 100rem;

        a {
          display: inline-block;
          background: #212431;
          color: #fff;
          line-height: 1;
          padding: 8px 0;
          margin-right: 4px;
          border-radius: 50%;
          text-align: center;
          width: 36px;
          height: 36px;
          transition: 0.3s;

          :hover {

          }
        }
    }
}

// Moves the social icons to the center right of the screen on large screen sizes and up
@include media-breakpoint-up(lg) {
    .social-icons {
        position: absolute;
        height: 100%;
        top: 0;
        right: 2.5rem;
        width: auto;
    }
}
