/**
 * partials/wrapper
 * ---
 */
 $wrapper-width: $max-content-width;
 $duration: .7s;

.wrapper {
  @include make-container;
  width: fluid;
  max-width: $wrapper-width;
  padding: 0 $vertical-spacer-lg 0;
  padding-left: 9vw;
  margin: 0 auto;
  overflow: hidden;
  transition: background-color $duration;
}

.content-wrapper {
  @include make-container;
}

.header-wrapper {
  @include container-overflow;
  transition: all ease-in-out 0.5s;
  transition: 0.3s;
  background-image: $header-gradient;
}

.footer-wrapper {
  @include make-container;
  display: inline;
  background-image: $footer-gradient;
  text-transform: capitalize;
  text-align: right;
}

.nav-wrapper {
   @include container-overflow;
   margin-left: 6vw;
   overflow: visible;
   text-align: left;
}

#primary-search-wrapper .menu-toggle-wrapper {
    padding: 0;
}

.menu-inside-wrapper {
    position: fixed;
    right: -100%;
    top: 100%;
    max-width: 100%;
    visibility: hidden;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    top: 0;
    height: 100vh;
    width: 100%;
}

.menu-open .menu-inside-wrapper {
    right: 0;
}
