//
// Contextual backgrounds
//

// Inverse
// TODO: redo this as a proper class
.bg-inverse {
  color: $gray-lighter;
  background-color: $gray-dark;
}

.bg-faded {
  background-color: $gray-lightest;
}

@include bg-variant('.bg-primary', $brand-primary);

@include bg-variant('.bg-valid', $brand-valid);

@include bg-variant('.bg-info', $brand-info);

@include bg-variant('.bg-attention', $brand-attention);

@include bg-variant('.bg-danger', $brand-danger);
