$gray-100-rgb: rgb(245, 245, 245) !default;
$gray-200-rgb: rgb(237, 237, 237) !default;
$gray-300-rgb: rgb(219, 219, 219) !default;
$gray-400-rgb: rgb(181, 181, 181) !default;
$gray-500-rgb: rgb(122, 122, 122) !default;
$gray-600-rgb: rgb(74, 74, 74) !default;
$gray-700-rgb: rgb(54, 54, 54) !default;
$gray-800-rgb: rgb(36, 36, 36) !default;
$gray-900-rgb: rgb(18, 18, 18) !default;

$teal-rgb:      rgb(0, 209, 178) !default;
$yellow-rgb:    rgb(255, 224, 138) !default;
$red-rgb:       rgb(241, 70, 104) !default;
$orange-rgb:    rgb(255, 71, 15) !default;
$green-rgb:     rgb(72, 199, 142) !default;
$blue-rgb:      rgb(72, 95, 199) !default;
$indigo-rgb:    rgb(102,0,255) !default;
$purple-rgb:    rgb(184, 107, 255) !default;
$cyan-rgb:      rgb(62, 142, 208) !default;
$pink-rgb:      rgb(204,51,153) !default;
$white-rgb:     rgb(250, 250, 250) !default;
$black-rgb:     rgb(10, 10, 10) !default;

$primary-color-rgb:   rgb(0, 209, 178) !default;
$secondary-color-rgb: rgb(102,0,255) !default;
$accent-color-rgb:    rgb(255, 224, 138) !default;
$muted-rgb:           rgb(168,169,173) !default;
$color-valid-rgb:     rgb(72, 199, 142) !default;
$info-color-rgb:      rgb(72, 95, 199) !default;
$color-warning-rgb:   rgb(255, 71, 15) !default;
$invalid-color-rgb:   rgb(241, 70, 104) !default;
$color-alert-rgb:     rgb(204,51,153) !default;
$body-rgb:            rgb(10, 10, 10) !default;

$box-shadow-rgb:        $gray-700-rgb !default;
$inset-box-shadow-rgb:  $gray-300-rgb !default;
$active-rgb:            $primary-color-rgb !default;
$active-bg-rgb:         shift-color($primary-color-rgb, $background-tint-percentage) !default;

$hover-rgb:             $accent-color-rgb !default;
$hover-bg-rgb:          $orange-rgb !default;

$focus-rgb:             shift-color($hover-rgb, $link-active-shade-percentage) !default;
$focus-bg-rgb:          $accent-color-rgb !default;


$theme-colors-rgb: (
teal-rgb: $teal-rgb,
yellow-rgb: $yellow-rgb,
red-rgb: $red-rgb,
orange-rgb: $orange-rgb,
green-rgb: $green-rgb,
blue-rgb: $blue-rgb,
indigo-rgb: $indigo-rgb,
purple-rgb: $purple-rgb,
cyan-rgb: $cyan-rgb,
pink-rgb: $pink-rgb,
primary-color-rgb: $primary-color-rgb, /* teal */
secondary-color-rgb: $secondary-color-rgb,    /* brown (chocolate brown) */
color-valid-rgb: $color-valid-rgb,
info-color-rgb: $info-color-rgb,
color-warning-rgb: $color-warning-rgb,
color-alert-rgb: $color-alert-rgb,
white-rgb: $white-rgb,
black-rgb: $black-rgb
) !default;
