/*! _______________________________________________________ PATTERN */
/*! _____________________________________________ GRADIENT */
/*! ___________________________________ HTML */
  @mixin html-container {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.25vw;
  }
/*! ___________________________________ BODY */
    $body-gradient         :
        radial-gradient( circle at top left, $primary-color 12%, transparent, $white ),
        radial-gradient( circle at top left, $primary-color 24%, $secondary-color, transparent, $white ),
        radial-gradient( circle at top left, $primary-color 36%, $secondary-color 24%, $accent-color, transparent, $white ),
        radial-gradient( circle at top left, $primary-color 48%, $secondary-color 36%, $accent-color 24%, transparent, $white );


    @mixin body-typography {
        font-family: $secondary-font;
        font-size: $font-size-base;
        line-height: $line-height-base;
        text-align: left;
        color: transparent;
    }
    @mixin body-container {
        margin: 0;
        padding-top: .5vh;
        padding-right: 0;
        padding-bottom: .5vh;
        padding-left: 1vw;
    }
/*! ___________________________________ HEADER */

/*! ___________________________________ MAIN */

/*! ___________________________________ ARTICLE */
    @mixin article-properties {
        @include border-radius($border-radius-xl);
        border-radius: $border-radius-xl;
        display: block;
        color: $body-text-color;
        text-align: left;
    }
/*! ___________________________________ NAV */

/*! ___________________________________ SITE-FOOTER */

/*! _______________________________________________________ CONTAINER */
/*! ___________________________________ HTML */
/*! ___________________________________ BODY */

    }
/*! ___________________________________ HEADER */

/*! ___________________________________ MAIN */

/*! ___________________________________ ARTICLE */
    @mixin article-container {
        @include make-container;
        border: 2px solid $red;
        margin-top: 1.5vh;
        margin-right: 0vw;
        margin-bottom: 1.5vh;
        margin-left: 0vw;
    }
/*! ___________________________________ NAV */

/*! ___________________________________ FOOTER */

/*! _______________________________________________________ PLACEMENT */
/*! ___________________________________ HTML */
    @mixin html-relative {
        position: relative;
        z-index: 25;
    }
/*! ___________________________________ BODY */
    @mixin body-absolute {
        position: absolute;
        z-index: 30;
    }
/*! ___________________________________ HEADER */

/*! ___________________________________ MAIN */

/*! ___________________________________ ARTICLE */
    @mixin article-absolute {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 225;
    }

/*! ___________________________________ NAV */

/*! ___________________________________ SITE-FOOTER */
