@mixin html-gradient {
  background-image: radial-gradient(
    circle at top left, $primary-color 56%, $secondary-color 15%, $accent-color 15%, $white
  );
}

@mixin theme-gradient($theme-color) {
    background-image: linear-gradient(
    90deg, $theme-color, $white, transparent );
}

@mixin accent-gradient {
    $diff: $alpha-from - $alpha-to;
    background-image: linear-gradient(
    195deg,
    transparent 5%,
    rgba($secondary-color, $alpha-from - $diff * 0.10) 10%,
    rgba($secondary-color, $alpha-from - $diff * 0.211) 15%,
    rgba($primary-color, $alpha-from - $diff * 0.321) 20%,
    rgba($primary-color, $alpha-from - $diff * 0.431) 30%,
    rgba($primary-color, $alpha-from - $diff * 0.541) 40%,
    rgba($accent-color, $alpha-from - $diff * 0.651) 50%,
    rgba($accent-color, $alpha-from - $diff * 0.761) 65%,
    rgba($accent-color, $alpha-from - $diff * 0.871) 80%,
    rgba($accent-color, $alpha-from - $diff * 0.981) 95%
    );
}

@mixin secondary-gradient {
    $diff: $alpha-from - $alpha-to;
    background-image: linear-gradient(
    195deg,
    transparent 5%,
    rgba($primary-color, $alpha-from - $diff * 0.10) 10%,
    rgba($primary-color, $alpha-from - $diff * 0.211) 15%,
    rgba($accent-color, $alpha-from - $diff * 0.321) 20%,
    rgba($accent-color, $alpha-from - $diff * 0.431) 30%,
    rgba($accent-color, $alpha-from - $diff * 0.541) 40%,
    rgba($secondary-color, $alpha-from - $diff * 0.651) 50%,
    rgba($secondary-color, $alpha-from - $diff * 0.761) 65%,
    rgba($secondary-color, $alpha-from - $diff * 0.871) 80%,
    rgba($secondary-color, $alpha-from - $diff * 0.981) 95%
    );
}

@mixin primary-gradient {
    $diff: $alpha-from - $alpha-to;
    background-image: linear-gradient(
    195deg,
    transparent 5%,
    rgba($accent-color, $alpha-from - $diff * 0.10) 10%,
    rgba($accent-color, $alpha-from - $diff * 0.211) 15%,
    rgba($secondary-color, $alpha-from - $diff * 0.321) 20%,
    rgba($secondary-color, $alpha-from - $diff * 0.431) 30%,
    rgba($secondary-color, $alpha-from - $diff * 0.541) 40%,
    rgba($primary-color, $alpha-from - $diff * 0.651) 50%,
    rgba($primary-color, $alpha-from - $diff * 0.761) 65%,
    rgba($primary-color, $alpha-from - $diff * 0.871) 80%,
    rgba($primary-color, $alpha-from - $diff * 0.981) 95%
    );
}
