/* THEME GRADIENTS */
@mixin theme-gradient($theme-colors) {
    background-image: linear-gradient(
    -120deg,
    rgba($primary-color, $alpha-to) 70%,
    rgba($secondary-color, $alpha-from - $diff*0.963) 40%,
    rgba($accent-color, $alpha-from - $diff*0.85) 10%,
    rgba($white, $alpha-from) 5%,
    transparent
    );
}

@mixin theme-gradient($color: $primary-color) {
    $diff: $alpha-from - $alpha-to;
    background-image: linear-gradient(
    290deg,
    rgba($white, .3) 40%,
    rgba($accent-color, .5) 35%,
    rgba($accent-color, 0.4) 25%,
    rgba($secondary-color, 0.5) 40%,
    rgba($secondary-color, 0.6) 45%,
    rgba($secondary-color, 0.7) 55%,
    rgba($color, 0.8) 65%,
    rgba($color, 0.9) 70%,
    rgba($color, 1) 90%
    );
}
@mixin theme-gradient($color: $secondary-color) {
    $diff: $alpha-from - $alpha-to;
    background-image: linear-gradient(
    290deg,
    rgba($white, .3) 40%,
    rgba($primary-color, .5) 35%,
    rgba($primary-color, 0.4) 25%,
    rgba($accent-color, 0.5) 40%,
    rgba($accent-color, 0.6) 45%,
    rgba($accent-color, 0.7) 55%,
    rgba($color, 0.8) 65%,
    rgba($color, 0.9) 70%,
    rgba($color, 1) 90%
    );
}
@mixin theme-gradient($color: $accent-color) {
    $diff: $alpha-from - $alpha-to;
    background-image: linear-gradient(
    290deg,
    transparent,
    rgba($white, .3) 40%,
    rgba($secondary-color, .5) 35%,
    rgba($primary-color, 0.4) 25%,
    rgba($primary-color, 0.5) 40%,
    rgba($primary-color, 0.6) 45%,
    rgba($color, 0.7) 55%,
    rgba($color, 0.8) 65%,
    rgba($color, 0.9) 80%,
    rgba($color, 1) 90%
    );
}
