/* ______________________________________________________ LINK */

a {
  outline: none !important;
  font-family: $nav-text-font;

  :active {
    text-decoration: $link-decoration;
    color: $link-text-color;

    & :hover {
      text-decoration: $link-hover-decoration;
      color: $hover-color;
    }
  }

  :hover {
    text-decoration: $link-hover-decoration;
    color: $hover-color;
  }

  :disabled {
    color: $disabled-color;
    text-decoration: none;

  }
  :focus {

  }
}
