/* GRADIENTS */
$gradient: linear-gradient(-120deg, rgba($primary-color, .95), rgba($secondary-color, .65), rgba($accent-color, .45), transparent, 95%);

$primary-color-gradient: linear-gradient(
  290deg,
  transparent,
  rgba($white, 0.05) 3%,
  rgba($accent-color, 0.1) 15%,
  rgba($secondary-color, 0.25) 27%,
  rgba($secondary-color, 0.30) 39%,
  rgba($primary-color, 0.6) 45%,
  rgba($primary-color, 0.35) 51%,
  rgba($primary-color, 0.4) 63%,
  rgba($primary-color, 0.45) 75%,
  rgba($primary-color, .5) 90%
  );

$secondary-color-gradient: linear-gradient(
  290deg,
  transparent,
  rgba($white, .3) 40%,
  rgba($primary-color, .5) 35%
  rgba($accent-color, 0.4) 25%,
  rgba($accent-color, 0.5) 40%,
  rgba($secondary-color, 0.6) 45%,
  rgba($secondary-color, 0.7) 55%,
  rgba($secondary-color, 0.8) 65%,
  rgba($secondary-color, 0.9) 70%,
  rgba($secondary-color, 1) 90%,
);

$accent-color-gradient: linear-gradient(
  290deg,
  transparent,
  rgba($white, .3) 40%,
  rgba($secondary-color, .5) 35%
  rgba($primary-color, 0.4) 25%,
  rgba($primary-color, 0.5) 40%,
  rgba($accent-color, 0.6) 45%,
  rgba($accent-color, 0.7) 55%,
  rgba($accent-color, 0.8) 65%,
  rgba($accent-color, 0.9) 80%,
  rgba($accent-color, 1) 90%,
);


$footer-gradient2: linear-gradient(
  90deg,
  transparent,
  rgba($white, 0.2) 5%,
  rgba($white, 0.3) 5%,
  rgba($accent-color, 0.4) 15%,
  rgba($accent-color, 0.5) 30%,
  rgba($primary-color, 0.6) 45%,
  rgba($primary-color, 0.7) 60%,
  rgba($primary-color, 0.8) 75%,
  rgba($primary-color, 0.9) 90%,
  rgba($primary-color, 1) 95%
);

$footer-gradient: linear-gradient(
  90deg,
  transparent,
  rgba($accent-color, 0.9) 15%,
  rgba($accent-color, 0.85) 20%,
  rgba($accent-color, 0.8) 25%,
  rgba($accent-color, 0.7) 30%,
  rgba($primary-color, 0.6) 35%,
  rgba($primary-color, 0.55) 50%,
  rgba($primary-color, 0.50) 65%,
  rgba($primary-color, 0.45) 80%,
  rgba($primary-color, .4) 95%
);

$nav-gradient: linear-gradient(
  205deg,
  rgba($accent-color, 0.65) 5%,
  rgba($gray-300, 0.7) 25%,
  rgba($gray-400, 0.75) 35%,
  rgba($gray-500, 0.8) 40%,
  rgba($accent-color, 0.85) 45%,
  rgba($accent-color, 0.9) 60%,
  rgba($accent-color, 1) 75%
  rgba($accent-color, 0.5) 80%,
  rgba($accent-color, 0.25) 90%
);
