/* Text */
$site-title            : $primary;
$page-title            : $secondary;
$post-title            : $accent;
$lead-text             : shift($post-title, $muted-percentage);
$caption-text          : shade($text, 10%);
$nav-text              : shade($secondary, 10%);
$btn-text              : shade($text, 10%);
$quote-text            : shade($primary, 10%);
$footer-text           : shade($accent, 10%);

$caption       : tint($text, $focus-percentage);
$border-hover  : tint($border, $hover-percentage);
$border-visited: tint($border, $visited-percentage);
$footer-info   : tint($info, $info-percentage);
