$primary  : $cyan !default;
$secondary: $yellow !default;
$accent   : $silver !default;
$valid    : $green !default;
$info     : $blue !default;
$attention: $orange !default;
$invalid  : $red !default;
$alert   : $pink !default;
$light    : $gray-200 !default;
$dark     : $gray-800 !default;
