/* Fonts */


/* Variables */
$body-text-color                 : shade-color($primary-color, $text-percentage);

$body-text-align                 : null;
$text-margin-bottom              : $offset;
$text-muted-color                : color-mix(srgb, $body-text-color $muted-percentage, $muted-color);

$btn-text-color        : shade-color($button-color, 10%);
$entry-header-color    : shade-color($entry-color, 10%);
$headings-text-color      : mix-color($title-color $title-percentage, $body-text-color);
$site-title-color   : shade-color($site-color, $title-percentage);
$page-title-color   : shade-color($page-color, $title-percentage);
$post-title-color   : $post-color;
$footer-text-color  : $footer-color ;
$quote-text-color   : shade-color($quote-color, $focus-percentage);
$lead-text-color    : shade-color($lead-color, $muted-percentage);
$caption-text-color : shade-color($caption-color, $focus-percentage);
$nav-text-color     : shade-color($nav-color, $active-percentage);
$code-text-color    : shade-color($hot-pink, $focus-percentage);


@import "fonts/font-face";
@import "fonts/font-stacks";
@import "fonts/font-variables";
@import "fonts/font-properties";

@import "variables/base-typography";
@import "variables/headings";
@import "variables/display";
@import "variables/lead";
@import "variables/links";
@import "variables/quote";
@import "variables/type-variables";
@import "variables/code";

@import "tools/mixins/font-size";
@import "tools/mixins/footer";
@import "tools/mixins/heading";
@import "tools/mixins/list";
@import "tools/mixins/shadow";
@import "tools/mixins/text-stroke";
@import "tools/mixins/text-transform";
@import "tools/mixins/text-truncate";
@import "tools/mixins/titles";

@import "tools/helpers/colored-links";
@import "tools/helpers/stretched-link";
@import "tools/helpers/text-truncation";

@import "text-elements/base";
@import "text-elements/type";
@import "text-elements/quote";
@import "text-elements/emphasis";
@import "text-elements/headings";
@import "text-elements/lists";
@import "text-elements/links";
@import "text-elements/input";
@import "text-elements/form-elements";
@import "text-elements/table";
@import "text-elements/code";
@import "text-elements/hr";
