/* Fonts */


/* Variables */
$body-text-color                 : shade-color($primary-color, $text-percentage);

$body-text-align                 : null;
$text-margin-bottom              : $offset;
$text-muted-color                : color-mix(srgb, $body-text-color $muted-percentage, $muted-color);

$btn-text-color        : shade-color($button-color, 10%);
$entry-header-color    : shade-color($entry-color, 10%);
$headings-text-color      : mix-color($title-color $title-percentage, $body-text-color);
$site-title-color   : shade-color($site-color, $title-percentage);
$page-title-color   : shade-color($page-color, $title-percentage);
$post-title-color   : $post-color;
$footer-text-color  : $footer-color ;
$quote-text-color   : shade-color($quote-color, $focus-percentage);
$lead-text-color    : shade-color($lead-color, $muted-percentage);
$caption-text-color : shade-color($caption-color, $focus-percentage);
$nav-text-color     : shade-color($nav-color, $active-percentage);
$code-text-color    : shade-color($hot-pink, $focus-percentage);
