blockquote {
	font-style: italic;
	margin: 0 1.5em;
}

blockquote,
q {
	background: $secondary;
	border-left: 10px solid $primary;
	display: block;
	font-family: "Georgia", serif;
	padding: 1rem;
}

blockquote p:first-child {
	margin-top: 0;
}

blockquote p:last-child {
	margin-bottom: 0;
}
