// scss-docs-start table-variant
@mixin table-variant($state, $background) {
  .table-$state} {
    $color: color-contrast(opaque($body-bg, $background));
    $hover-bg: mix($color, $background, percentage($table-hover-bg-factor));
    $striped-bg: mix($color, $background, percentage($table-striped-bg-factor));
    $active-bg: mix($color, $background, percentage($table-active-bg-factor));

    $variable-prefixtable-bg: $background};
    $variable-prefixtable-striped-bg: $striped-bg};
    $variable-prefixtable-striped-color: color-contrast($striped-bg);
    $variable-prefixtable-active-bg: $active-bg};
    $variable-prefixtable-active-color: color-contrast($active-bg);
    $variable-prefixtable-hover-bg: $hover-bg};
    $variable-prefixtable-hover-color: color-contrast($hover-bg);

    color: $color;
    border-color: mix($color, $background, percentage($table-border-factor));
  }
}
// scss-docs-end table-variant
