//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

.normal {
  font-weight: normal;
}
.quiet {
  color: #999;
}
.pull-left {
  float: left;
  margin: 0.5em 2em 1em 0;
}
.pull-right {
  float: right;
  margin: 0.5em 0 1em 2em;
}
