@mixin site-title {
    @include title-shadow;
    @include text-stroke($black, $primary-color);
    @include text-transform($text-transform: uppercase);
    font-family: 'Euphorigenic';
    font-weight: bolder;
    text-decoration: none;
}

@mixin nameplate-site-title {
    font-family: 'Euphorigenic';
    font-weight: bolder;
    text-decoration: none;
    color: transparent;
    @include text-stroke($black, $accent-color);
    @include text-transform($text-transform: uppercase);
    @include site-title-shadow;
}

@mixin site-description {
    @include text-transform(lowercase);
    @include text-stroke($black, $secondary-color);
    font-family: 'Enjoy Writing';
    font-weight: normal;
    color: $secondary-color;
    text-align: right;
}

@mixin page-title {
    @include text-transform;
    font-family: $page-title-font;
    text-transform: uppercase;
    color: $headings-text-color;
    font-weight: bold;
}

@mixin post-title {
    @include text-transform;
    font-family: 'TELETYPE-1895-1945';
    font-weight: bold;
}
