/*________________________________________________________________ GLOBAL */
@import "global/main";
@import "global/header";
@import "global/footer";
@import "global/article";
@import "global/menu";
@import "global/aside";
@import "global/bg";

*,
*::after,
*::before,
*:after,
*:before {
    padding: 0;
    margin: 0;
    @include border-box;
}

div {
    display: flex;
    float: left;
    justify-content: space-evenly;
}

html {
    position: relative;
    z-index: 25;
    @media screen and (min-width: 768px) {
        font-size: 75%;
    }
}

body,
html {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    overflwo: hidden;
    @include border-box;

    * {
        box-sizing: inherit;
    }
}

body {
    z-index: 30;
    text-align: left;
    color: $body-text-color;
    font-family: $secondary-font;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

body,
body .page {
    position: absolute;
    max-height: 100vh;
    max-width: 100vw;
    padding-top: .5vh;
    padding-right: 0;
    padding-bottom: .5vh;
    padding-left: 1vw;
}

.page {
    z-index: 35;
}

header {
    @include make-col;
    @include header-container;
    @include border-box;
    display: inline-block;
    height: 100%;
    max-height: 99vh;
    width: 100%;
    max-width: 10vw;

    writing-mode: vertical-lr;
    text-orientation: sideways;
    rotate: 180deg;

    nav {
        @include make-col;
        position: fixed;
        top: -10;
        bottom: 0;
        z-index: 925;
        display: inline-block;
        height: 100%;
        max-height: 90vh;
        width: 100%;
        max-width: 2.5vw;
        border: 2px solid $pink;
    }
}

main {
    @include main;
    @include main-container;
    @include border-start-radius($border-radius-xxl);
    display: block;
    width: 100%;
    max-width: 99vw;
    height: 100%;
    max-height: 97vh;
    background: $white;
    border: 2px solid $black;

    article {
        @include border-radius($border-radius-md);
        display: block;
        margin: 1.5vh 4vw .5vh 12vw;
        width: 100%;
        max-width: 85vw;
        height: 100%;
        max-height: 93.5vh;
        background:white;
        opacity: .65;
        border-right-color: $gray-800;
        border-right-style: inset;
        border-right-width: 1px;
        box-shadow: inset 10px 10px 20px $gray-700, inset -29px -29px 58px $white, inset 3.9px 3.9px 1px $gray-500, inset -3.9px -3.9px 1px $white, inset -5px -5px 10px #bebebe,
            inset 5px 5px 10px $gray-900;
    }
}

footer {
    @include site-footer-container;
    @include footer-text;
    @include border-box;
    @include make-row($gutter: $grid-gutter);
    @include footer;
    height: 100%;
    max-height: 5vh;
    width: 100%;
    max-width: 84.25vw;
    box-shadow: 0 0.5rem 0.4rem -.1rem $shadow-color;
    background-image: $footer-gradient;
    border-right: 1px inset $gray-500;
}
