$grays     : (
gray-100   : #c0c0c0,
gray-200   : #9a9a9a,
gray-300   : #7b7b7b,
gray-400   : #626262,
gray-500   : #4e4e4e,
gray-600   : #3e3e3e,
gray-700   : #323232,
gray-800   : #282828,
gray-900   : #1a1a1a
);

$colors    : ();
  $colors  : map-merge(
  (
  'blue'   : #0a0fba,
  'indigo' : #6600ff,
  'purple' : #510bda,
  'pink'   : #fc89ac,
  'red'    : #ba0a0f,
  'orange' : #fd8535,
  'yellow' : #ffcc33,
  'green'  : #82ded1,
  'teal'   : #b5ede4,
  'cyan'   : #0abab5
  ),
  $colors
);

$custom-colors      : ();
$custom-colors      : map-merge(
(
silver             : #a8a9ad,
chocolate          : #623412,
camel              : #c19a6b,
saltpan            : #ffffcc,
white-chocolate    : #ede6d6,
dark-vanilla       : #d1bea8,
ghost-white        : #fbfbfd,
deep-sky-blue      : #0dcaf0,
coral              : #ff7f50,
maroon             : #800000,
light-cyan         : #cdffff,
neon-blue          : #555aff,
salomie            : #ffd080,
wild-watermelon    : #ff555a,
hot-pink           : #ff6fa9
  ),
  $custom-colors
);

$custom-colors: ();


$theme-colors         : ();
  $theme-colors       : map-merge(
  (
    "primary-color"   : #0abab5,
    "secondary-color" : #ffe41e,
    "accent-color"    : #a8a9ad,
    "valid-color"     : #cdffff,
    "info-color"      : #555aff,
    "alert-color"     : #ffd080,
    "invalid-color"   : #ff555a,
    "attention-color" : #ff6fa9
    ),
    $theme-colors
  );

  $theme-colors         : ();

  $grays-rgb             : (
      gray-100-rgb       : $gray-100-rgb,
      gray-200-rgb       : $gray-200-rgb,
      gray-300-rgb       : $gray-300-rgb,
      gray-400-rgb       : $gray-400-rgb,
      gray-500-rgb       : $gray-500-rgb,
      gray-600-rgb       : $gray-600-rgb,
      gray-700-rgb       : $gray-700-rgb,
      gray-800-rgb       : $gray-800-rgb,
      gray-900-rgb       : $gray-900-rgb
  );
  $colors-rgb            : (
      teal-rgb           : $teal-rgb,
      yellow-rgb         : $yellow-rgb,
      red-rgb            : $red-rgb,
      orange-rgb         : $orange-rgb,
      green-rgb          : $green-rgb,
      blue-rgb           : $blue-rgb,
      indigo-rgb         : $indigo-rgb,
      purple-rgb         : $purple-rgb,
      cyan-rgb           : $cyan-rgb,
      pink-rgb           : $pink-rgb,
  );
  $theme-color-rgb       : (
      primary-color-rgb  : $primary-color-rgb,
      secondary-color-rgb: $secondary-color-rgb,
      accent-color-rgb   : $accent-color-rgb,
      valid-color-rgb    : $valid-color-rgb,
      attention-color-rgb: $attention-color-rgb,
      invalid-color-rgb  : $invalid-color-rgb,
      info-color-rgb     : $info-color-rgb,
      alert-color-rgb    : $alert-color-rgb
  );
