$grays             : (
  100              : $gray-100,
  200              : $gray-200,
  300              : $gray-300,
  400              : $gray-400,
  500              : $gray-500,
  600              : $gray-600,
  700              : $gray-700,
  800              : $gray-800,
  900              : $gray-900
);


$colors            : (
"blue"             : $blue,
"indigo"           : $indigo,
"purple"           : $purple,
"pink"             : $pink,
"red"              : $red,
"yellow"           : $yellow,
"orange"           : $orange,
"green"            : $green,
"teal"             : $teal,
"cyan"             : $cyan,
"gray"             : $gray,
"silver"           : $silver,
"chocolate"        : $chocolate,
"camel"            : $camel,
"saltpan"          : $saltpan,
"white-chocolate"  : $white-chocolate,
"dark-vanilla"     : $dark-vanilla,
"ghost-white"      : $ghost-white,
"deep-sky-blue"    : $deep-sky-blue,
"coral"            : $coral,
"maroon"           : $maroon,
"light-cyan"       : $light-cyan, /* Light Green */
"neon-blue"        : $neon-blue, /* light blue */
"salomie"          : $salomie, /* light orange */
"wild-watermelon"  : $wild-watermelon, /* light red */
"hot-pink"         : $hot-pink
);


$theme-colors      : (
  "primary-color"  : $primary-color,
  "secondary-color": $secondary-color,
  "accent-color"   : $accent-color,
  "valid-color"    : $valid-color,
  "info-color"     : $info-color,
  "alert-color"    : $alert-color,
  "invalid-color"  : $invalid-color,
  "attention-color": $attention-color,
  "light"          : $light,
  "dark"           : $dark
);
