/*! _______________________________________________________ CHANGEpercentage */

$active-percentage               : 5%;

$link-percentage                 : 10%;
$visited-percentage              : 20%;
$hover-percentage                : 30%;
$focus-percentage                : 40%;
$muted-percentage                : 50%;
$inactive-percentage             : 60%;



$local-link-percentage           : 20%;

$target-percentage               : 24%;
$target-within-percentage        : 26%;
$scope-percentage                : 28%;
$focus-visible-percentage        : 23%;
$focus-within-percentage         : 25%;

$background-percentage           : 50%;
$border-percentage               : 60%;
$button-percentage               :70%;
$card-percentage                 : 80%;
$shadow-percentage               : 90%;


$text-percentage                 : 51%;
$caption-percentage              : 61%;
$quote-percentage                : 71%;
$comment-percentage              : 81%;
$heading-percentage              : 91%;

$lead-percentage                 : 65%;
$post-percentage                 : 75%;
$page-percentage                 : 85%;
$site-percentage                 : 95%;

$btn-disabled-opacity            : .45;
$input-btn-focus-color-opacity   : .25;
$input-btn-focus-blur            : 0;
