/*! _______________________________________________________ CHANGEpercentage */
$active-percentage            : 5%;
$inset-percentage             : 6%;
$link-percentage              : 10%;
$visited-percentage           : 20%;
$hover-percentage             : 30%;
$focus-percentage             : 40%;
$muted-percentage             : 50%;
$inactive-percentage          : 60%;
$target-percentage            : 4%;
$target-within-percentage     : 14%;
$scope-percentage             : 24%;
$focus-visible-percentage     : 34%;
$focus-within-percentage      : 44%;
$background-percentage        : 41%;
$nav-percentage               : 51%;
$border-percentage            : 61%;
$button-percentage            : 71%;
$card-percentage              : 81%;
$shadow-percentage            : 91%;
$text-percentage              : 52%;
$caption-percentage           : 62%;
$quote-percentage             : 72%;
$comment-percentage           : 82%;
$heading-percentage           : 92%;
$info-percentage              : 94%;
$lead-percentage              : 55%;
$post-percentage              : 65%;
$page-percentage              : 75%;
$site-percentage              : 85%;
$title-percentage             : 95%;
$local-link-percentage        : 20%;
$btn-disabled-opacity         : 0.45;
$input-btn-focus-color-opacity: 0.25;
$input-btn-focus-blur         : 0;
