/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}



/**
 * Responsive images
 */

.is-fluid {
    display: block;
    width: 100%;
    height: auto;
}
