footer {
  position: fixed;
  right: 0;
  bottom: 2vh;
  left: 12vw;

  max-height: 2vh;
  @include elevation(5);

  background: $primary;

  p {
    margin: 0;
    padding-right: 2vw;
    text-align: right;
    font-family: $accent-font;
    font-size: $font-size-base;
    color: black;
  }
}
