$blue     : #0dcaf0;
$indigo   : #6600ff;
$purple   : #510bda;
$pink     : #ff6fa9;
$red      : #ff555a;
$orange   : #ffd080;
$yellow   : #ffcc33;
$green    : #cdffff;
$teal     : #b5ede4;
$cyan     : #0abab5;
$gray     : $gray-600;
