$shadow                : color-mix(srgb, $primary, shadow-percentage);
$shadow-text                 : shade($text, $active-percentage);

$shadow-title                : shade($accent, $focus-percentage);
$shadow-button               : shade($primary, $shadow-percentage);
$shadow-hover                : shade($primary, $hover-percentage);
$shadow-focus                : shade($primary, $focus-percentage);
$shadow-inset-a              : shade($primary, $inset-percentage);
$shadow-inset-b              : tint($primary, $inset-percentage);

    $text-shadow             : .75rem .25rem .10rem $shadow-text;
    $title-shadow            : .65rem .5rem .15rem $shadow-title;

/* BOX SHADOW */
$box-shadow: 1.75rem 1.5rem 1.75rem $shadow;
$box-shadow-sm: 1.25rem 1rem 1.25rem $shadow .5;
$box-shadow-lg: 2.25rem 2rem 2.25rem $shadow .75;
$box-shadow-hover: .25rem .50rem .75rem $shadow-hover;
$box-shadow-focus: -.25rem .50rem .75rem $shadow-focus, -.25rem -.50rem .75rem tint(rgba(50,50,50), 25%);

$box-shadow-inset: inset -.25rem -.25rem -.50rem 0px $shadow-inset-a, .7 25%, inset .25rem .25rem .50rem 0px $shadow-inset-b, .35 25%;

/* BUTTON + FORM */
$input-box-shadow: 0 0 $input-btn-focus-blur $border-width-focus $input-text-focus;

$button-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px $shadow-button, .075;
$btn-shadow-focus: inset 0 -1px 0 rgba($white, .15), 0 -1px 1px $shadow-button, .075;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075);


/* CARD */
$card-box-shadow: 1.5rem 1.25rem 1.25rem $shadow;
$card-box-shadow-inset: $shadow-inset-a -.25rem -.25rem -.50rem 0px inset, $shadow-inset-b .25rem .25rem .50rem 0px inset;
