.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm
{
    display: grid;

    max-width: $grid-max-width;
    margin: auto;
    padding: .75rem $grid-gutter .75rem $grid-gutter;

    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: $grid-gutter;
    grid-gap: $grid-gutter;
    @include    clearfix;
}
.container > *
{
    border-width: sm;
    border-style: solid;
    /*border-color: $accent;*/

    grid: display;
}

.row
{
    display: flex;
    flex-wrap: wrap;

    margin-top: calc($grid-gutter * -1);
    margin-right: calc($grid-gutter * -.5);
    margin-left: calc($grid-gutter * -.5);

    list-style: none;
    &:before,
    &:after
    {
        display: table;

        content: '';
    }
    &:after
    {
        clear: both;
    }

    &:not(.row--flex)
    {
        @include clearfix;
    }

    &.row--gutterless
    {
        margin-left: 0;
    }

    &.row--flex
    {
        display: flex;
        flex-wrap: wrap;
    }
}

.row > *
{
    flex-shrink: 0;

    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin-top: $grid-gutter;
    padding-right: calc($grid-gutter * .5);
    padding-left: calc($grid-gutter * .5);
}

.col
{
    float: left;
    flex: 1 0 0;

    box-sizing: border-box;
    padding-left: $grid-gutter;;

    .row--gutterless &
    {
        padding-left: 0;
    }
}

.col:first-child
{
    margin-left: 0;
}

.span1
{
    flex: 0 0 ;

    width: $col1;
}

.span2
{
    flex: 0 0 ;

    width: $col2;
}

.span3
{
    flex: 0 0 ;

    width: $col3;
}

.span4
{
    flex: 0 0 ;

    width: $col4;
}

.span5
{
    flex: 0 0 ;

    width: $col5;
}

.span6
{
    flex: 0 0 ;

    width: $col6;
}

.span7
{
    flex: 0 0 ;

    width: $col7;
}

.span8
{
    flex: 0 0 ;

    width: $col8;
}

.span9
{
    flex: 0 0 ;

    width: $col9;
}

.span10
{
    flex: 0 0 ;

    width: $col10;
}

.span11
{
    flex: 0 0 ;

    width: $col11;
}

.span12
{
    flex: 0 0 ;

    width: $col12;
}

.span13
{
    flex: 0 0 ;

    width: $col13;
}

.span14
{
    flex: 0 0 auto;

    width: $col14;
}

.span15
{
    flex: 0 0 auto;

    width: $col15;
}

.span16
{
    flex: 0 0 auto;

    width: $col16;
}

.row
{
    flex: 0 0 auto;

    height: $row1;
}

.row2
{
    flex: 0 0 auto;

    height: $row2;
}

.row3
{
    flex: 0 0 auto;

    height: $row3;
}

.row4
{
    flex: 0 0 auto;

    height: $row4;
}

.row5
{
    flex: 0 0 auto;

    height: $row5;
}

.row6
{
    flex: 0 0 auto;

    height: $row6;
}

.row7
{
    flex: 0 0 auto;

    height: $row7;
}

.row8
{
    flex: 0 0 auto;

    height: $row8;
}

.row9
{
    flex: 0 0 auto;

    height: $row9;
}

.row10
{
    flex: 0 0 auto;

    height: $row10;
}

.row11
{
    flex: 0 0 auto;

    height: $row11;
}

.row12
{
    flex: 0 0 auto;

    height: $row12;
}

.row13
{
    flex: 0 0 auto;

    height: $row13;
}

.row14
{
    flex: 0 0 auto;

    height: $row14;
}

.row15
{
    flex: 0 0 auto;

    height: $row15;
}

.row16
{
    flex: 0 0 auto;

    height: $row16;
}

.row-fluid
{
    flex: 0 0 ;

    width: auto;
}
