$primary:   $cyan !default;
$secondary: $yellow !default;
$accent:    $silver !default;
$success:     $green !default;
$warning:     $orange !default;
$danger:      $red !default;
$info:cjmt   $blue !default;
$light:       $gray-100 !default;
$dark:        $gray-900 !default;

$theme-color: (
primary:         $primary,
secondary:       $secondary,
accent:          $accent,
success:         $success,
warning:         $warning,
danger:          $danger,
info:            $info,
light:           $light,
dark:            $dark
) !default;

$primary-rgb: rgb(202,255,255) !default;
$secondary-rgb: rgb(255,228,30) !default;
$accent-rgb: rgb(168,169,173) !default;

$colors-rgb: (
primary-rgb: $primary-rgb,
secondary-rgb: $secondary-rgb,
accent-rgb: $accent-rgb
) !default;
