/* ______________________________________________________ Link */

//@import "colored-links";

/* Style anchor elements. */
$link-text-color              : $active-color;
$link-decoration              : bold;
$link-text-hover              : $hover-color;
$link-hover-decoration  : underline, bold;

$link-text-visited            : $visited-color;
$link-visited-decoration      : underline;
$link-text-visited-hover      : $visited-hover-color;

$stretched-link-pseudo-element: after;
$stretched-link-z-index       : 1;

@import "stretched-link";
