/* CJMTheme _________________________________________________________

  Theme                         : CJMT - Creativity Architect Default
  Author                        : CJMT

  Stylesheet                    : Default Theme

  = TOC =
   ()
   ()
   ()

_________________________________________________________ CJMTheme */

/* __________________________________________________ SITE EXCAVATION */



/* __________________________________________________ FOUNDATION */
@import "grid/theme-grid";

/* __________________________________________________ FRAMING */
@import "tools/functions";

/* __________________________________________________ MECHANICALS */
@import "tools/change-percentage";


// scss-docs-start gray-variables
$white                          : #e4edf4;
$gray-100                       : #c0c0c0;
$gray-200                       : #9a9a9a;
$gray-300                       : #7b7b7b;
$gray-400                       : #626262;
$gray-500                       : #4e4e4e;
$gray-600                       : #3e3e3e;
$gray-700                       : #323232;
$gray-800                       : #282828;
$gray-900                       : #1a1a1a;
$black                          : #000100;
// scss-docs-end gray-variables

// scss-docs-start color-variables
$blue                           : #6666FF;
$indigo                         : #6600ff;
$purple                         : #510bda;
$pink                           : #ff6fa9;
$red                            : #ff555a;
$orange                         : #ffd080;
$yellow                         : #ffcc33;
$green                          : #569E80;
$teal                           : #b5ede4;
$cyan                           : #0abab5;
$gray                           : $gray-600;
// scss-docs-end color-variables

/* Custom Colors */
  $silver                       : #a8a9ad;
  $neon-blue                    : #555aff;

// scss-docs-start theme-variables
$primary                        : $cyan !default;
$secondary                      : $yellow !default;
$accent                         : $silver !default;
$valid                          : $green !default;
$info                           : $blue !default;
$attention                      : $orange !default;
$invalid                        : $red !default;
$alert                          : $pink !default;
$light                          : $gray-200 !default;
$dark                           : $gray-800 !default;

// scss-docs-end theme-variables

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https                    ://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
    $min-contrast-ratio         : 4.5;

// Customize the light and dark text colors for use in our color contrast function.
    $color-contrast-dark        : black;
    $color-contrast-light       : white;

@import "style/color/variables";

/* _____________________________________ FEATURES */
// Quickly modify global styling by enabling or disabling optional features.

    $enable-caret               : true;
    $enable-rounded             : true;
    $enable-shadows             : true;
    $enable-gradients           : true;
    $enable-transitions         : true;
    $enable-reduced-motion      : true;
    $enable-smooth-scroll       : true;
    $enable-grid-classes        : true;
    $enable-container-classes   : true;
    $enable-cssgrid             : true;
    $enable-button-pointers     : true;
    $enable-rfs                 : true;
    $enable-validation-icons    : true;
    $enable-negative-margins    : true;
    $enable-deprecation-messages: true;
    $enable-important-utilities : true;

// Prefix for                   :root CSS variables

    $variable-prefix            : ca-;

/* _____________________________________ ESCAPED CHARACTERS */
  $escaped-characters           : (
    ("<", "%3c"),
    (">", "%3e"),
    ("#", "%23"),
    ("(", "%28"),
    (")", "%29"),
  ) !default;

/* _____________________________________ POSITIONING */
  /* Position Values Map */
    $position-values            : (
      0                         : 0,
      25                        : 25%,
      50                        : 50%,
      75                        : 75%,
      100                       : 100%
    );

  /* Aspect Ratios Map */
    $aspect-ratios              : (
      '1x1'                     : 100%,
      '4x3'                     : calc(3 / 4 * 100%),
      '16x9'                    : calc(9 / 16 * 100%),
      '21x9'                    : calc(9 / 21 * 100%)
    );

/* _____________________________________ SPACING */
    $spacing                    : 1;
    $base-size                  : 1.15;
    $vertical                   : 1vh;
    $horizontal                 : 1vw;

    $block-spacing              : 1.5rem;
@import "style/properties/spacing";

/* _____________________________________ PADDING */
  $offset                       : 16px !default;
  $horizontal-offset-px         : 16px !default; // 1vh = 8px;
  $horizontal-offset            : 2vh !default;
  $vertical-offset              : 2.75vw !default;
  $vertical-offset-px           : 16px !default; // 1vw = 6px;

  $offset-y                     : calc($offset * $sm);
  $offset-x                     : $offset;
  $offset-y-lg : $offset-y * $lg;
  $offset-x-lg : $offset-x * $lg;

@import "style/properties/padding";

/* ____________________________________ BORDERS */
    $base-width                 : 1px;
    $base-radius                : .95rem;
    $border-color               : $border;
@import "style/properties/border";

/* ____________________________________ ANIMATION */
    $animation-speed            : 250ms;
    $animation                  : ease-in-out;

/* _____________________________________ TYPOGRAPHY */
  $font-size-root               : null;
  $font-size-base               : 1.05rem;
  $base-unit                    : 1.15rem; // Assumes the browser default, typically `16px`
  $font-weight-base             : 400;
  $line-height-base             : 1.15;
  $heading-base-unit            : 1.25vh;

@import "style/properties/link";

/* ____________________________________ Z-INDEX */
@import "style/properties/zindex";

/* ____________________________________ WIDTH */
@import "style/properties/width";


$grays                          : (
  100                           : $gray-100,
  200                           : $gray-200,
  300                           : $gray-300,
  400                           : $gray-400,
  500                           : $gray-500,
  600                           : $gray-600,
  700                           : $gray-700,
  800                           : $gray-800,
  900                           : $gray-900
) !default;

@import "style/color/rgba";

$grays-rgb                      : (
  gray-100-rgb                  : $gray-100-rgb,
  gray-200-rgb                  : $gray-200-rgb,
  gray-300-rgb                  : $gray-300-rgb,
  gray-400-rgb                  : $gray-400-rgb,
  gray-500-rgb                  : $gray-500-rgb,
  gray-600-rgb                  : $gray-600-rgb,
  gray-700-rgb                  : $gray-700-rgb,
  gray-800-rgb                  : $gray-800-rgb,
  gray-900-rgb                  : $gray-900-rgb
);

@import "style/color/patterns";
@import "style/color/maps";
@import "style/color/contrast";

@import "style/typography/variables/font-face";
@import "style/typography/variables/font-stacks";
@import "style/typography/variables/font-variables";
@import "style/typography/variables/headings-variables";
@import "style/typography/variables/type-variables";
@import "style/typography/variables/code";
@import "style/typography/type";

/* __________________________________________________ INSULATION */
@import "tools/mixins";
@import "tools/utilities";
@import "tools/root";
