$text-muted:        $gray-600;
$text-color:        $gray-800;
$body-color:        $gray-200;
$light-color:       $gray-100;
$dark-color:        $gray-900;

$input:               $gray-500;
$input-bg:            $gray-100;
$input-border:        $gray-900;
$input-focus:         $gray-800;
$input-focus-bg:      $white;
$input-focus-border:  $gray-100;

$component-active-color:                  $primary-color;
$component-active-bg:                     darken($secondary-color, $link-active-hover-bg-shade-percentage);
$border-color:                      $gray-300;
$link-color:                        $primary-color;
$link-hover:                        shift-color($link-color, $link-active-hover-shade-percentage);

$disabled-text-color:                     $gray-300;
$disabled-border-color:                   $gray-300;
$disabled-bg-color:                       $gray-200;
$disabled-hover-color:                    shift-color($disabled-text-color, $disabled-hover-shade-percentage);
$disabled-hover-border-color:             shift-color($disabled-border-color, $disabled-hover-shade-percentage);
$disabled-hover-bg-color:                 shift-color($disabled-bg-color, $disabled-hover-shade-percentage);

$shadow:                                $gray-700;
$shadow-hover:                          shift-color($shadow, $hover-change-percentage);
$shadow-focus:                          shift-color($shadow, $focus-change-percentage);

$shadow-rgb:                            $gray-700-rgb;
$shadow-hover-rgb:                      shift-color($shadow-rgb, $hover-change-percentage);
$shadow-focus-rgb:                      shift-color($shadow-rgb, $focus-change-percentage);

$nav-link-color:                    $secondary-color;
$nav-link-bg-color:                 linear-gradient(-250deg, transparent, rgba($ghost-white-rgb, .40) 50%, rgba($white-chocolate-rgb, .30) 60%, rgba($saltpan-rgb, .20) 70%, rgba($dark-vanilla-rgb, .15) 80%, rgba($secondary-color-rgb, .10) 90%);

$nav-link-hover-color:              shift-color($nav-link-color, $link-active-hover-shade-percentage);

$nav-link-disabled-color:           $disabled-text-color;
$nav-link-disabled-border-color:    $disabled-border-color;
$nav-link-disabled-bg-color:        $disabled-bg-color;
$nav-link-hover-disabled-color:           $disabled-hover-color;
$nav-link-hover-disabled-border-color:    $disabled-hover-border-color;
$nav-link-hover-disabled-bg-color:        $disabled-hover-bg-color;


$nav-tabs-border-color:             $gray-300;
$nav-tabs-link-hover-border-color:  shift-color($nav-tabs-border-color, $link-active-hover-shade-percentage);
$nav-tabs-link-active-color:        snav-link-color;
$nav-tabs-link-active-bg:           $nav-link-bg-color;
$nav-tabs-link-active-border-color: $nav-tabs-border-color;

$nav-tabs-link-hover-active-bg:     shift-color($nav-tabs-link-active-bg, $link-active-hover-bg-shade-percentage);
$nav-tabs-link-hover-active-border-color: shift-color($nav-tabs-link-active-border-color, $link-active-hover-shade-percentage);

$navbar-dark-color:                 rgba($secondary-color, .55);
$navbar-dark-hover-color:           shift-color($navbar-dark-color, $link-active-hover-shade-percentage);
$navbar-dark-active-color:          $navbar-dark-color;
$navbar-dark-disabled-color:        $disabled-text-color;

$navbar-light-color:                rgba($primary-color, .55);
$navbar-light-hover-color:          shift-color($navbar-light-color, $link-active-hover-shade-percentage);
$navbar-light-active-color:         $navbar-light-color;
$navbar-light-disabled-color:       $disabled-text-color, .3;
