/* GRADIENTS */
$gradient: linear-gradient(-120deg, rgba($primary-color-rgb, .95), rgba($silver-rgb, .65), rgba($coral-rgb, .45), rgba(128, 0, 0, .1) 95%);

$gradient-brown: linear-gradient(30deg, rgba(98, 52, 18, .45) 10%, rgba(123, 63, 0, .55) 20%, rgba(193, 154, 107, .65) 30%, rgba(255, 255, 204, 1) 80%);

$gradient-white: linear-gradient(-70deg, rgba(0, 0, 0, .2) 30%, rgba(251, 251, 253, .3) 45%, rgba(237, 230, 214, .4) 60%, rgba(228, 237, 244, .5) 75%, rgba(168, 169, 173, .6) 90%, rgba(78, 78, 78, .7) 100%);

$gradient-primary: linear-gradient(-170deg, rgba($accent-color-rgb, .55) 55%, rgba($secondary-color-rgb, .55) 65%, rgba($primary-color-rgb, .95) 85%);

$gradient-yellow: linear-gradient(150deg, rgba(255, 227, 2, .45) 35%, rgba(255, 228, 30, .7) 65%, rgba(11, 218, 81, .2) 100%);

/* GRADIENT BORDERS */

.border-gradient-brown
{
    -o-border-image: $gradient-brown 10% round;
       border-image: $gradient-brown 10% round;
}

.border-gradient-primary
{
    -o-border-image: gradient-primary 10% round;
       border-image: gradient-primary 10% round;
}

.border-gradient-white
{
    -o-border-image: $gradient-white, 10% round;
       border-image: $gradient-white, 10% round;
}

.border-gradient-theme
{
    -o-border-image: $gradient 10% round;
       border-image: $gradient 10% round;
}

.border-gradient-yellow
{
    -o-border-image: $gradient-yellow 10% round;
       border-image: $gradient-yellow 10% round;
}
