#site-title{
  font-family: 'Euphorigenic';
  font-size: 3.33vw;
  font-weight: bolder;
  }

#page-title{
  font-family: $page-title-font;
  font-size: 4.12vw;
  text-transform: uppercase;
  color: $headings-text-color;
  line-height: 3.75rem;
}
