


@mixin primary-gradient($alpha-from: 1, $alpha-to:0) {
      $diff: $alpha-from - $alpha-to;
      background-image: $primary-gradient;
    }

@mixin secondary-gradient() {
  $diff: $alpha-from - $alpha-to;
  background-image: linear-gradient(
  transparent,
    rgba($white, $alpha-from) 0%,
    rgba($primary-color, $alpha-from - $diff*0.7) 50%,
    rgba($accent-color, $alpha-from - $diff*0.85) 65%,
    rgba($accent-color, $alpha-from - $diff*0.925) 75.5%,
    rgba($secondary-color, $alpha-from - $diff*0.963) 82.85%,
    rgba($secondary-color, $alpha-from - $diff*0.981) 88%,
    rgba($secondary-color, $alpha-to) 100%
  );
}

@mixin accent-gradient() {
  $diff: $alpha-from - $alpha-to;
  background-image: linear-gradient(
  transparent,
  rgba($white, $alpha-from) 0%,
    rgba($secondary-color, $alpha-from - $diff*0.7) 50%,
    rgba($primary-color, $alpha-from - $diff*0.85) 65%,
    rgba($primary-color, $alpha-from - $diff*0.925) 75.5%,
    rgba($accent-color, $alpha-from - $diff*0.963) 82.85%,
    rgba($accent-color, $alpha-from - $diff*0.981) 88%,
    rgba($accent-color, $alpha-to) 100%
  );
}

@mixin theme-gradient($color4: $white, $alpha-from: 1, $alpha-to: 0) {
  $diff: $alpha-from - $alpha-to;
  background-image: linear-gradient(
    transparent,
    rgba($color4, $alpha-from) 3%,
    rgba($color3, $alpha-from - $diff*0.7) 50%,
    rgba($color2, $alpha-from - $diff*0.85) 65%,
    rgba($color2, $alpha-from - $diff*0.925) 75.5%,
    rgba($color1, $alpha-from - $diff*0.963) 82.85%,
    rgba($color1, $alpha-from - $diff*0.981) 88%,
    rgba($color1, $alpha-to) 100%
  );
}


/* GRADIENTS */
@mixin gradient() {
    $diff: $alpha-from - $alpha-to;
    background-image: linear-gradient(
    -120deg,
    rgba($primary-color, $alpha-to) 70%,
    rgba($secondary-color, $alpha-from - $diff*0.963) 40%,
    rgba($accent-color, $alpha-from - $diff*0.85) 10%,
    rgba($white, $alpha-from) 5%,
    transparent );
}

@mixin secondary-color-gradient {
    $diff: $alpha-from - $alpha-to;
    background-image: linear-gradient(
  290deg,
  transparent,
  rgba($white, .3) 40%,
  rgba($primary-color, .5) 35%
  rgba($accent-color, 0.4) 25%,
  rgba($accent-color, 0.5) 40%,
  rgba($secondary-color, 0.6) 45%,
  rgba($secondary-color, 0.7) 55%,
  rgba($secondary-color, 0.8) 65%,
  rgba($secondary-color, 0.9) 70%,
  rgba($secondary-color, 1) 90%,
);
}

@mixin accent-color-gradient {
    $diff: $alpha-from - $alpha-to;
     background-image: linear-gradient(
  290deg,
  transparent,
  rgba($white, .3) 40%,
  rgba($secondary-color, .5) 35%
  rgba($primary-color, 0.4) 25%,
  rgba($primary-color, 0.5) 40%,
  rgba($accent-color, 0.6) 45%,
  rgba($accent-color, 0.7) 55%,
  rgba($accent-color, 0.8) 65%,
  rgba($accent-color, 0.9) 80%,
  rgba($accent-color, 1) 90%,
);
}

@mixin footer-gradient {
    $diff: $alpha-from - $alpha-to;
    background-image: linear-gradient(
  90deg,
  transparent,
  rgba($white, 0.2) 5%,
  rgba($white, 0.3) 5%,
  rgba($accent-color, 0.4) 15%,
  rgba($accent-color, 0.5) 30%,
  rgba($primary-color, 0.6) 45%,
  rgba($primary-color, 0.7) 60%,
  rgba($primary-color, 0.8) 75%,
  rgba($primary-color, 0.9) 90%,
  rgba($primary-color, 1) 95%
);
}

@mixin nav-gradient {
    $diff: $alpha-from - $alpha-to;
background-image: linear-gradient(
  205deg,
  rgba($accent-color, 0.65) 5%,
  rgba($gray-300, 0.7) 25%,
  rgba($gray-400, 0.75) 35%,
  rgba($gray-500, 0.8) 40%,
  rgba($accent-color, 0.85) 45%,
  rgba($accent-color, 0.9) 60%,
  rgba($accent-color, 1) 75%
  rgba($accent-color, 0.5) 80%,
  rgba($accent-color, 0.25) 90%
);
}
