/*________________________________________________________________ HEADER */

header .site-header .masthead {
    background-image: $gradient-secondary;
    box-shadow:  0 .5rem .4rem -.2rem $shadow-color;
}



#main {
  margin-left: 300px;
}

@media (max-width: 1199px) {
  #masthead {
    left: -300px;
  }

  #main {
    margin-left: 0;
}
}
