$base-number: 1.15;
$thickness: 1px;
$border-radius-deg: .94rem;

@import "spacings/base-unit";

@import "spacings/spacer";

@import "spacings/block-spacing";

@import "spacings/offset";

@import "spacings/padding";

@import "spacings/aspect-ratios";

@import "spacings/position-value";

@import "spacings/zindex";
