$background-shade-percentage:          15%;

$active-percentage:   25%;

$link-shade-percentage:               15%;
$link-active-shade-percentage:        40%;

$tabs-border-color-shade-percentage: 25%;
$link-hover-color-shade-percentage: 40%;

$muted-change-percentage:             20%;
